// ### CHARACTER DETAILS ###
// ## GENERAL INFORMATION ##

.character-details {
	margin-left: 1rem;
	flex: 1;
}

.general-information {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.char-name {
	flex: 1;
	margin-right: 8px;
	padding: 0 4px;
	font-size: 24px;
}

.level-information {
	display: flex;
	flex-direction: row-reverse;
}

.level {
	padding: 4px 6px;
	border-radius: 3px;
	background: var(--t5e-faint-color);
	color: var(--t5e-secondary-color);
	font-size: 1.25rem;
	line-height: 1;
	height: 25px;
}

.experience {
	display: flex;
	align-items: center;
}

.current-xp {
	width: calc(10.5ch + 0.3rem);
	height: 16px;
	text-align: right;
	padding: 0 4px;
}

.max-xp {
	width: calc(10.5ch + 0.3rem);
	height: 16px;
	text-align: left;
	padding: 0 4px;
}

.max-xp::before {
	content: "/";
	margin-right: 0.15rem;
}

.xp-tracker {
	margin-right: 0.5rem;
	width: 50%;
}

.noxp .xp-tracker {
	display: none;
}

.xp-bar-total {
	width: 100%;
	height: 5px;
	border: 1px solid var(--t5e-tertiary-color);
	border-radius: 2px;
	background: var(--t5e-light-color);
	position: relative;
}

.xp-bar-current {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	background: var(--t5e-xp-bar);
	transition: width 0.3s ease;
}

.bonus-information {
	display: flex;
}
// Player Name

#playerName {
	flex: 0 0 1px;
	font-size: 12px;
	line-height: 1;
	padding-top: 3px;
}

#playerName + .class-list {
	padding-left: 3px;
}

#playerName + .class-list::before {
	content: "";
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: var(--t5e-primary-color);
	position: absolute;
	top: calc(50% + 1px);
	left: -4px;
	transform: translateY(-50%);
}

.playerName {
	display: inline-block;
	min-width: 50px;
	font-weight: 600;
	padding: 0px 4px;
	white-space: nowrap;
}

// Class List

.class-list {
	position: relative;
	display: flex;
	flex: 1;
	margin: 0;
	padding: 3px 0 0 0;
	color: var(--t5e-secondary-color);
	margin-left: 4px;
	font-size: 12px;
	line-height: 1;

	li::before {
		content: "/";
		margin: 0 2px;
	}

	li:first-child::before {
		content: none;
	}

	.levels-info,
	.subclass-info {
		margin-left: 2px;
	}
} // .class-list

// Origin Summary

.origin-summary {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--t5e-light-color);
	border-top: 1px solid var(--t5e-light-color);
	font-size: 12px;
	line-height: 1;
	padding: 3px 0 2px 0;
	margin-top: 2px;
	white-space: nowrap;
	// position: relative;
	z-index: 100;

	li {
		flex: 1;
		margin-right: 0.5rem;
		display: flex;
	}

	li.origin-summary-config {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		max-width: 15px;
	}

	li span {
		position: relative;
		margin-left: 4px;
		padding: 0 4px 0 8px;
	}

	// li span.origin-summary-text {
	// 	min-width: 125px;
	// }

	li span::after {
		content: "";
		display: block;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: var(--t5e-primary-color);
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}

	li span:first-child {
		margin: 0 4px;
		padding: 0;
	}

	li span:first-child::after {
		content: none;
	}

	.proficiency {
		margin: 0;
		font-weight: 700;
		text-align: center;
		padding: 0 4px 0 0;
		justify-content: flex-end;
	}
} // .origin-summary

// Size Select

.actor-size-select,
.actor-size-select ul {
	margin: 0;
	list-style: none;
}

.actor-size-select li {
	position: relative;
	margin: 0;
	z-index: 1;
}

.actor-size-select ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.actor-size-select .size-list {
	background: var(--t5e-secondary-color);
	color: var(--t5e-background);
	border-radius: 3px;
	overflow: hidden;
}

.actor-size-select .size-list li {
	padding: 2px 4px;
}

.actor-size-select .size-list li:hover {
	background: var(--t5e-primary-color);
}

.actor-size-select.active ul {
	display: block;
}

.actor-size-select.active .current {
	background: var(--t5e-primary-accent);
}

.actor-size-select .size-label:hover,
.actor-size-select.active .size-label {
	color: var(--t5e-primary-accent);
	cursor: pointer;
}

.character-stats {
	display: flex;
	margin-top: 4px;
}

// Character Movement

.movement {
	display: flex;
	border-bottom: 1px solid var(--t5e-light-color);
	padding: 3px 0 2px 4px;
	font-size: 14px;
	line-height: 1;
}

.movement-primary,
.movement-special {
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 4px;
}

.movement-special {
	border-left: 2px solid var(--t5e-light-color);
}

.movement:not(:hover) .configure-movement {
	opacity: 0;
}

.configure-movement i {
	font-size: 12px;
	color: var(--t5e-tertiary-color);
	transition: color 0.3s ease;
	cursor: pointer;
}

.movement .speed-form {
	display: flex;
	flex: 1;
}

.configure-movement:hover i {
	color: var(--t5e-secondary-color);
}

.speed-form-legacy .movement-primary {
	width: 40px;
	text-align: center;
}

.speed-form-legacy .movement-special {
	flex: 1;
}

// Header Attributes

.header-attributes {
	display: flex;
	align-items: flex-start;
	flex: 0;
}

.header-attribute {
	text-align: center;
	border-left: 1px solid var(--t5e-faint-color);
	padding: 0 5px;
}

.header-attributes .header-attribute:first-child {
	border: none;
}

.attribute-name {
	font-size: 20px;
	line-height: 1;
	position: relative;
	margin: 0;
	white-space: nowrap;
}

.attribute-name input {
	margin: 0;
}

.attribute-name::after {
	display: block;
	content: "";
	height: 0;
	width: 60%;
	border-bottom: 1px solid var(--t5e-faint-color);
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translate(-50%, 0);
}

.header-attributes .value,
.header-attributes .value-footer {
	display: flex;
	justify-content: center;
}

.header-attributes .value {
	font-size: 24px;
	margin: 2px 0;
}

.header-attributes .value-footer {
	font-size: 12px;
	line-height: 14px;
}

.header-attributes .value-footer input {
	line-height: 14px;
	height: 14px;
	padding: 1px 0;
}

.header-attributes .value span,
.header-attributes .value p,
.header-attributes .value input {
	font-weight: 700;
}

.header-attributes .ac-display {
	position: relative;
}

.header-attributes .ac-display svg {
	width: 60px;
}

.header-attributes .ac-display svg path {
	fill: var(--t5e-light-color);
}

.header-attributes .ac-display .attribute-value {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	height: 40px;
	font-weight: 700;
	margin: 0 auto;
	width: 44px;
	// z-index: 40;

	.property-attribution {
		display: none;
		position: absolute;
		padding: 4px;
		border: none;
		border-radius: 5px;
		background: var(--t5e-secondary-color);
		backdrop-filter: blur(4px);
		color: var(--t5e-background);
		z-index: 1;
		font-family: var(--t5e-signika);
		font-size: 12px;
		white-space: nowrap;
		left: 50%;
		top: 106%;
		transform: translateX(-50%);
	}

	&:hover .property-attribution {
		display: block;
	}
}

.header-attributes .ac-display .config-button {
	display: block;
	height: 100%;
}

.header-attributes .initiative .config-button {
	position: absolute;
	bottom: -15px;
	right: calc(50% - 12px);
	font-size: 10px;
	color: var(--t5e-tertiary-color);

	&:hover {
		color: var(--t5e-primary-color);
	}
}

.header-attributes .initiative {
	width: 60px;
}

input.ini-mod {
	flex: 0 1 1px;
}

// Ability Scores

.ability-scores {
	display: flex;
	flex: 1;
	border: none;
	border-radius: 0;

	.ability {
		// position: relative;
		padding-bottom: 0;
		border-left: 1px solid var(--t5e-faint-color);
		flex: 1 0 61px;
		padding: 0 4px;
		position: relative;

		.wrapper {
			text-align: center;
			position: relative;
			display: flex;
			flex-direction: column;
			width: 50px;
			margin: 0 auto;
		}

		.ability-name {
			position: relative;
			font-size: 20px;
			line-height: 1;
			margin: 0;
			text-transform: capitalize;

			&::after {
				display: block;
				content: "";
				height: 0;
				width: 60%;
				border-bottom: 1px solid var(--t5e-faint-color);
				position: absolute;
				left: 50%;
				bottom: -1px;
				transform: translate(-50%, 0);
			}
		}

		.ability-values {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1px;
		}

		.ability-score {
			font-size: 24px;
			margin: 2px 0 3px 0;
			padding: 2px 0 0 0;
			text-align: center;
			font-family: var(--t5e-modesto);
			font-weight: 700;
			height: 23px;

			&:hover + .ability-modifiers {
				visibility: visible;
			}
		}

		.ability-modifiers {
			position: relative;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			text-align: center;
			display: flex;
			height: auto;
			margin: 0 auto;
			padding: 0;
			opacity: initial;
			font-size: 10px;
			box-shadow: 0 0 0 1px var(--t5e-tertiary-color);
			border-radius: 5px;

			&:hover {
				border-radius: 0;
				box-shadow: 0 0 0 1px var(--t5e-note-background);
				z-index: 10;
			}

			&:hover ~ .mod-label {
				display: block;
				z-index: 5;
			}

			&:hover .ability-mod {
				border-radius: 0;
			}
		}

		.mod-label {
			position: absolute;
			top: 47px;
			display: none;
			background: var(--t5e-note-background);
			color: #fff;
			font-size: 10px;
			height: 17px;
			padding: 3px 4px 2px 4px;
			white-space: nowrap;

			&.ability-mod-label {
				right: 25px;
				transform: translateX(-26px);
				border-radius: 5px 0 0 5px;
			}

			&.save-mod-label {
				left: 25px;
				transform: translateX(26px);
				border-radius: 0 5px 5px 0;
			}
		}

		.ability-mod,
		.ability-save {
			flex: 1;
			text-align: center;
			font-size: 12px;
			opacity: 0.4;
			transition: opacity 0.3s ease;
			cursor: pointer;
		}

		.ability-mod {
			background: var(--t5e-ability-accent);
			color: #fff;
			border-radius: 5px 0 0 5px;
		}

		.ability-mod:hover,
		.ability-save:hover {
			background: var(--t5e-primary-accent);
			color: #fff;
		}

		.proficiency-toggle {
			position: absolute;
			font-size: 10px;
			opacity: 0.4;
			transition: opacity 0.3s ease;
			left: calc(50% - 12px);
			bottom: -14px;
			// transform: translateX(-50%);
		}

		.ability-modifiers .ability-proficiency {
			line-height: 10px;
		}

		&:hover .ability-mod,
		&:hover .ability-save {
			opacity: 1;
			text-shadow: none;
		}

		&:hover .proficiency-toggle {
			opacity: 1;
		}

		.config-button {
			position: absolute;
			bottom: -15px;
			right: calc(50% - 12px);
			font-size: 10px;
			color: var(--t5e-tertiary-color);

			&:hover {
				color: var(--t5e-primary-color);
			}
		}
	} // .ability
} // .ability-scores
