<form class="{{cssClass}}" autocomplete="off">
	<div class="tidy5e-sheet {{#if actor.flags.tidy5e-sheet.allow-edit}}allow-edit{{/if}}">

		{{!-- Item Info Card --}}
		<section id="item-info-container">
			<i class="item-info-container-background fab fa-d-and-d"></i>
			<div class="info-wrap">
				<article id="item-info-container-content">
					<!-- Info Card here -->
				</article>
				<!-- <article class="mod-roll-buttons"></article> -->
				<article class="info-card-hint">
					<p><span class="key">X</span> {{localize "TIDY5E.ItemCardsKeyHint"}}</p>
					<p><i class="fas fa-mouse"></i> {{localize "TIDY5E.ItemCardsMouseHint"}}</p>
				</article>
			</div>
		</section>

		{{> "dnd5e.actor-warnings"}}
		{{!-- Sheet Header --}}
		<header class="tidy5e-header">
			<section class="profile-wrap">
				<div class="profile">

					{{!-- Death Saves --}}
					<div class="death-saves">
						<div class="counter-value">
							<i class="fas fa-check"></i>
							<input type="text" name="system.attributes.death.success" data-dtype="Number" placeholder="0"
							value="{{system.attributes.death.success}}" maxlength="1" data-tooltip="{{ localize 'DND5E.DeathSave' }}">
							<div class="death-save rollable has-note" data-action="rollDeathSave">
								<!-- <div class="note">{{ localize "DND5E.DeathSave" }}</div> -->
								<i class="fas fa-skull"></i>
							</div>
							<input type="text" name="system.attributes.death.failure" data-dtype="Number" placeholder="0"
							value="{{system.attributes.death.failure}}" maxlength="1">
							<i class="fas fa-times"></i>
						</div>
					</div>

					{{!-- Portrait --}}
					<div class="portrait">
						<img class="player-image" src="{{actor.img}}" alt="{{actor.name}}" title="{{ localize 'TIDY5E.EditActorImage' }} / {{ localize 'TIDY5E.ShowActorImage' }}" data-edit="img">
						<div class="portrait-menu hidden">
							<a class="showActorArt" id="showPortrait">{{ localize 'TIDY5E.ShowPortraitArt' }}</a>
							<a class="showActorArt" id="showToken">{{ localize 'TIDY5E.ShowTokenArt' }}</a>
						</div>
					</div>

					{{!-- HP Overlay --}}
					<div class="hp-overlay-wrapper" data-border="0px">
						<div class="hp-overlay" style="background: linear-gradient(
								0deg,
								rgba(255, 0, 0, 1) 0%,
								rgba(255, 0, 0, 1) calc(100% - {{hpOverlayCalculationCurrent}}),
								 rgba(255, 255, 255, 1) calc(100% - {{hpOverlayCalculationCurrent}}),
								 rgba(255, 255, 255, 1) 100%);">
						</div>
					</div>

					{{!-- Exhaustion --}}
					<div class="exhaustion-container level-{{system.attributes.exhaustion}} has-note" data-tooltip="{{ @root.exhaustionTooltip }}">
						<div class="level-display">{{system.attributes.exhaustion}}</div>
						<div class="exhaustion-wrap">
							<div class="exhaustion-icon">
								<i class="far fa-grin"></i>
								<i class="far fa-smile"></i>
								<i class="far fa-meh"></i>
								<i class="far fa-frown"></i>
								<i class="far fa-frown-open"></i>
								<i class="far fa-tired"></i>
								<i class="far fa-dizzy"></i>
							</div>
							<ul class="exhaust-level">
								<li data-elvl="0">0</li>
								<li data-elvl="1">1</li>
								<li data-elvl="2">2</li>
								<li data-elvl="3">3</li>
								<li data-elvl="4">4</li>
								<li data-elvl="5">5</li>
								<li data-elvl="6">6</li>
							</ul>
						</div>
					</div>

					{{!-- Inspiration --}}
					<div class="inspiration has-note {{#if actor.system.attributes.inspiration}}inspiration-1{{else}}inspiration-0{{/if}}" data-tooltip="{{ localize 'DND5E.Inspiration' }}">
						<input id="{{@root/appId}}-inspiration" type="checkbox" name="system.attributes.inspiration" data-dtype="Boolean" {{checked system.attributes.inspiration}}>
						<label for="{{@root/appId}}-inspiration">
							<i class="inspiration-icon fas fa-dice-d20"></i>
						</label>
						<!-- <div class="note">{{ localize 'DND5E.Inspiration' }}</div> -->
					</div>

					{{!-- Resting --}}
					<div class="rest-container has-note" data-tooltip="{{ localize 'TIDY5E.RestHint' }}">
						<!-- <div class="note">{{ localize 'TIDY5E.RestHint' }}</div> -->
						<div class="resting">
							<span class="resting-icon"><i class="rest-icon fas fa-bed"></i></span>
							<a class="rest short-rest" title="{{ localize 'TIDY5E.RestS' }}"><i class="fas fa-hourglass-half"></i></a>
							<a class="rest long-rest" title="{{ localize 'TIDY5E.RestL' }}"><i class="fas fa-hourglass-end"></i></a>
						</div>
					</div>
					{{!-- Hit Dice --}}
					<div class="portrait-hd has-note" data-tooltip="{{ localize 'DND5E.HitDice' }}: {{system.attributes.hd}}/{{system.details.level}}&#10;{{localize 'DND5E.HitDiceConfig'}}">
						<!-- <div class="note">{{ localize 'DND5E.HitDice' }}: {{system.attributes.hd}}/{{system.details.level}}</div> -->
						<a class="current-hd config-button" data-action="hit-dice" >{{system.attributes.hd}}</a>
					</div>

					{{!-- Hit Points --}}
					<div class="portrait-hp" title="{{ localize 'DND5E.HitPoints' }}">
						<div class="hp-bar" style="background: linear-gradient(
								-90deg,
								transparent 0%,
								transparent calc(100% - {{hpBarCalculationCurrent}}),
								 	rgba(0, 200, 0, 0.5) calc(100% - {{hpBarCalculationCurrent}}),
								 	rgba(0, 200, 0, 0.5) 100%);">
						</div>
						<input class="hp-min" name="system.attributes.hp.value" type="number" value="{{hp.value}}" placeholder="10"
						data-tooltip="{{localize 'DND5E.HitPointsCurrent'}}" data-dtype="Number" maxlength="5">
						<span class="value-seperator sep"> / </span>
						{{#if @root.allowHpMaxOverride}}
						<input class="hp-max" name="system.attributes.hp.max" type="number" step="any"
						value="{{hp.max}}" placeholder="10"
						data-tooltip="{{#if hp.max}}{{localize 'DND5E.HitPointsOverride'}}
						{{~ else}}{{localize 'DND5E.HitPointsMax'}}{{/if}}" maxlength="5">
						{{else}}
						<span class="hp-max" data-tooltip="{{#if hp.max}}{{localize 'DND5E.HitPointsOverride'}}
						{{~ else}}{{localize 'DND5E.HitPointsMax'}}{{/if}}">{{hp.max}}</span>
						{{/if}}
					</div>
				</div>

        		{{!-- Temp Hit Points --}}
				<div class="portrait-temp">
					<input name="system.attributes.hp.temp" type="number" step="any" class="temphp" placeholder="+{{ localize 'DND5E.Temp' }}" title="+{{ localize 'DND5E.Temp' }}"
					value="{{#if (eq hp.temp 0)}}{{else}}{{hp.temp}}{{/if}}" maxlength="3">
					<input name="system.attributes.hp.tempmax" type="number" class="max-temphp" placeholder="+{{ localize 'DND5E.Max' }}" title="+{{ localize 'DND5E.Max' }}"
					value="{{#if (eq hp.tempmax 0)}}{{else}}{{hp.tempmax}}{{/if}}" maxlength="3">
					{{#if @root.allowHpMaxOverride}}
					<a class="config-button hit-points-tidy" data-tooltip="{{localize 'DND5E.HitPointsConfig'}}">
						<i class="fas fa-cog"></i>
					</a>
					{{else}}
					<a class="config-button" data-action="hit-points" data-tooltip="{{localize 'DND5E.HitPointsConfig'}}">
						<i class="fas fa-cog"></i>
					</a>
					{{/if}}
				</div>

			</section>

			{{!-- Character Details --}}
			<div class="character-details">
				<section class="general-information">
					<input data-input="{{actor._id}}-name" name="name" type="hidden" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}" maxlength="40">
					<h1 class="char-name" {{#if owner}} contenteditable="true" {{/if}} spellcheck="false" data-target="{{actor._id}}-name" data-placeholder="{{ localize 'DND5E.Name' }}" data-maxlength="40">{{actor.name}}</h1>
					<div class="level-information {{#if disableExperience}}noxp{{/if}}">
						<h2 class="level">{{ localize 'DND5E.AbbreviationLevel' }} {{system.details.level}}</h2>
						{{#unless disableExperience}}
						<div class="xp-tracker">
							<div class="experience">
								<input class="current-xp" type="text" name="system.details.xp.value" value="{{system.details.xp.value}}" placeholder="0" data-dtype="Number" maxlength="7">
								<span class="sep">/</span>
								{{#if @root.isGM}}
								<input class="max-xp max" type="text" name="system.details.xp.max" value="{{system.details.xp.max}}" placeholder="0" data-dtype="Number" maxlength="7">
								{{else}}
								<span class="max">{{system.details.xp.max}}</span>
								{{/if}}
							</div>
							<div class="xp-bar">
								<div class="xp-bar-total">
									<span class="xp-bar-current" style="width: {{system.details.xp.pct}}%"></span>
								</div>
							</div>
						</div>
						{{/unless}}
					</div>
				</section>
				<section class="bonus-information">
					{{!-- Player Name --}}
					<div id="playerName">
						<input data-input="{{actor._id}}-playerName" name="flags.tidy5e-sheet.playerName" type="hidden" value="{{actor.flags.tidy5e-sheet.playerName}}" placeholder="{{ localize 'TIDY5E.PlayerName' }}" maxlength="40">
						<span class="playerName" {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-playerName" data-placeholder="{{ localize 'TIDY5E.PlayerName' }}" data-maxlength="40">{{actor.flags.tidy5e-sheet.playerName}}</span>
					</div>
					{{!-- Character Class List --}}
				</section>

				{{!-- Character Summary --}}

				<ul class="origin-summary">
					<li>
						<ul class="actor-size-select">
							<li><span class="size-label" data-size="{{system.traits.size}}">{{lookup config.actorSizes system.traits.size}}</span>
								<ul class="size-list" data-target="system.traits.size">
								{{#each config.actorSizes as |label size|}}
									<li data-size="{{size}}">{{label}}</li>
								{{/each}}
								</ul>
							</li>
						</ul>
                        <!--
						<span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-race" data-placeholder="{{ localize 'DND5E.Race' }}">{{system.details.race}}</span>
						<span {{#if (and owner (not labels.background))}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-background" data-placeholder="{{ localize 'DND5E.Background' }}">{{#if labels.background}}{{labels.background}}{{else}}{{system.details.background}}{{/if}}</span>
						<span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-alignment" data-placeholder="{{ localize 'DND5E.Alignment' }}">{{system.details.alignment}}</span>
                        <input type="hidden" data-input="{{actor._id}}-race" name="system.details.race" value="{{system.details.race}}" placeholder="{{ localize 'DND5E.Race' }}">
						<input type="hidden" data-input="{{actor._id}}-background" name="system.details.background" value="{{system.details.background}}" placeholder="{{ localize 'DND5E.Background' }}">
						<input type="hidden" data-input="{{actor._id}}-alignment" name="system.details.alignment" value="{{system.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}">
                        -->
                        <span class="origin-summary-text" data-placeholder="{{ localize 'DND5E.Race' }}">{{system.details.race}}</span>
						<span class="origin-summary-text" data-placeholder="{{ localize 'DND5E.Background' }}">{{#if labels.background}}{{labels.background}}{{else}}{{system.details.background}}{{/if}}</span>
						<span class="origin-summary-text" data-placeholder="{{ localize 'DND5E.Alignment' }}">{{system.details.alignment}}</span>
					</li>
					<li class="proficiency">
						{{ localize 'DND5E.Proficiency' }}: {{labels.proficiency}}
					</li>
					{{#if owner}}
					<li class="origin-summary-config">
                        <a class="config-button origin-summary-tidy" data-tooltip="{{localize 'TIDY5E.OriginSummaryConfig'}}">
                            <i class="fas fa-cog"></i>
                        </a>
					</li>
					{{/if}}
				</ul>

				{{!-- Character Movement --}}

				<section class="movement">
					<ul class="speed-form">
						<li><h4>{{ localize 'DND5E.Speed' }}</h4></li>
						{{#if movement.primary}}
						<li class="movement-primary" title="{{movement.primary}}">{{movement.primary}}</li>
						{{/if}}
						{{#if movement.special}}
						<li class="movement-special" title="{{movement.special}}">{{movement.special}}</li>
						{{/if}}
						<li class="configure-movement"><a class="config-button" data-action="movement" data-tooltip="{{localize 'DND5E.MovementConfig'}}"><i class="fas fa-cog"></i></a></li>
					</ul>
				</section>

				<section class="character-stats">
					{{!-- Header Attributes --}}
					<ul class="header-attributes">
						<li class="header-attribute ac-display" data-attribution="attributes.ac" data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 90 100" xml:space="preserve">
							<path d="M45,100C-2.6,79.3,0,12.6,0,12.6c0-2.2,1.8-4,4.4-4.6l39.1-7.9C44,0,44.5,0,45,0c0.5,0,1,0,1.4,0.1L85.5,8
								c2.6,0.5,4.4,2.4,4.4,4.6C90,12.6,92.6,79.3,45,100L45,100z"/>
							</svg>
							<div class="attribute-value attributable" data-property="attributes.ac">
								<a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}">{{system.attributes.ac.value}}</a>
							</div>
						</li>
						<li class="header-attribute initiative">
							<h4 class="attribute-name rollable" data-action="rollInitiative" title="{{ localize 'DND5E.Initiative' }}">{{ localize 'TIDY5E.AbbrInitiative' }}</h4>
							<div class="value">
								<span>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
							</div>
							<footer class="value-footer">
								<label for="{{@root/appId}}-ini-mod">{{ localize 'TIDY5E.AbbrMod' }}</label>
								<input id="{{@root/appId}}-ini-mod" class="ini-mod" name="system.attributes.init.bonus" type="text" placeholder="0" data-dtype="Number" value="{{system.attributes.init.bonus}}" maxlength="2">
							</footer>
							<a class="config-button" data-action="initiative" data-tooltip="{{localize 'DND5E.InitiativeConfig'}}">
								<i class="fas fa-cog"></i>
							</a>
						</li>
					</ul>

					{{!-- Ability Scores --}}
					<ul class="ability-scores">
						{{#each abilities as |ability id|}}
						<li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
							<div class="wrapper" data-ability="{{id}}">
								<h4 class="ability-name box-title rollable" title="{{ability.label}}">{{ability.abbr}}</h4>
								<div class="value">
									<input type="text" name="system.abilities.{{id}}.value" value="{{ability.value}}" class="ability-score" placeholder="10" data-dtype="Number">
								</div>
								<div class="ability-modifiers value-footer">
									<span class="ability-mod rollable" title="{{ localize 'DND5E.AbilityModifier' }}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
									<input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number">
									<a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND5E.Proficiency' }}">
										{{{ability.icon}}}
									</a>
									<a class="config-button" data-action="ability" data-tooltip="{{localize 'DND5E.AbilityConfigure'}}">
										<i class="fas fa-cog"></i>
									</a>
									<span class="ability-save rollable" title="{{ localize 'DND5E.ActionSave' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
								</div>
								<span class="mod-label ability-mod-label">{{ localize 'TIDY5E.AbbrMod' }}</span>
								<span class="mod-label save-mod-label">{{ localize 'TIDY5E.AbbrSavingThrow' }}</span>
							</div>
						</li>
						{{/each}}
					</ul>
				</section>
			</div>

		</header>

		{{!-- PC Sheet Navigation --}}
		<nav class="tidy5e-navigation tabs" data-group="primary">
			<a class="item active" data-tab="attributes">{{ localize "DND5E.Attributes" }}</a>
			<a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
			<a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
			<a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
			<a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
			<a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
			{{#if owner }}
			<a class="item" data-tab="journal">{{ localize "TIDY5E.Journal" }}</a>
			<div class="toggle-allow-edit"><span><i class="fas fa-lock" title="{{localize 'TIDY5E.EnableEdit'}} - {{localize 'TIDY5E.EditHint'}}"></i><i class="fas fa-lock-open" title="{{localize 'TIDY5E.DisableEdit'}} - {{localize 'TIDY5E.EditHint'}}"></i></span></div>
			{{/if}}
		</nav>


		{{!-- PC Sheet Body --}}
		<section class="sheet-body">

			<div class="tab attributes" data-group="primary" data-tab="attributes">

				<div class="left-pane">

					{{!-- Skills --}}
					<ul class="skills-list">
					{{#each config.skills as |label s|}}
					{{#with (lookup ../skills s) as |skill|}}
						<li class="skill {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
							<a class="config-button" data-action="skill" data-tooltip="{{localize 'DND5E.SkillConfigure'}}">
								<i class="fas fa-cog"></i>
							</a>
							<input type="hidden" name="system.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
							<a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
							<h4 class="skill-name rollable">{{skill.label}}</h4>
							<span class="skill-ability">{{skill.abbreviation}}</span>
							<span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
							<span class="skill-passive" title="{{skill.label}} ({{ localize 'DND5E.Passive' }})">({{skill.passive}})</span>
						</li>
					{{/with}}
					{{/each}}
					</ul>

					{{!-- Traits --}}
					{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-traits.html"}}
				</div>

				<section class="center-pane">
					{{!-- Body Attributes --}}
					{{!-- Resources --}}
					<ul class="resources">
						{{#each resources as |res|}}
						<li class="resource">
							<header class="resource-header">
								<span class="res-options"><i class="fas fa-cog"></i></span>
								<div class="res-rest">
									<h4>{{ localize "TIDY5E.RestoreOnRest" }}</h4>
									<input id="{{@root/appId}}-{{res.name}}.sr" name="system.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}>
									<label for="{{@root/appId}}-{{res.name}}.sr" class="checkbox" title="{{ localize 'TIDY5E.RestS' }}">
										{{ localize "DND5E.RestS" }}
									</label>
									<input id="{{@root/appId}}-{{res.name}}.lr" name="system.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}>
									<label for="{{@root/appId}}-{{res.name}}.lr" class="checkbox" title="{{ localize 'TIDY5E.RestL' }}">
										{{ localize "DND5E.RestL" }}
									</label>
								</div>
							</header>
							<h4 class="resource-name">
								<input name="system.resources.{{res.name}}.label" type="text" value="{{res.label}}"
								placeholder="{{res.placeholder}}">
							</h4>
							<div class="resource-value multiple">
								<input class="res-value" type="text" name="system.resources.{{res.name}}.value" value="{{res.value}}" placeholder="0" data-dtype="Number" maxlength="3" />
								<span class="sep"> / </span>
								<input class="res-max" type="text" name="system.resources.{{res.name}}.max" value="{{res.max}}" placeholder="0" data-dtype="Number" maxlength="3" />
							</div>
						</li>
						{{/each}}
					</ul>

					{{!-- Counters --}}

					{{!-- Traits --}}
					<div class="alt-trait-pos"></div>

					{{!-- Actions --}}
					<div class="actions-target list-layout"></div>
					{{!-- Favorites --}}
					<div class="favorites-target"></div>
				</section>
			</div>

			{{!-- Inventory Tab --}}
			<div class="tab inventory {{#if actor.flags.tidy5e-sheet.inventory-grid}}grid{{/if}}" data-group="primary" data-tab="inventory">
				{{#if actor.flags.tidy5e-sheet.inventory-grid}}
					{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-inventory-grid.html" sections=inventory}}
					{{else}}
					{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-inventory.html" sections=inventory}}
				{{/if}}
			</div>

			{{!-- Spellbook Tab --}}
			<div class="tab spellbook {{#if actor.flags.tidy5e-sheet.spellbook-grid}}grid{{/if}}" data-group="primary" data-tab="spellbook">
				{{#if actor.flags.tidy5e-sheet.spellbook-grid}}
					{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-spellbook-grid.html"}}
					{{else}}
					{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-spellbook.html"}}
				{{/if}}
			</div>

			{{!-- Features Tab --}}
			<div class="tab features" data-group="primary" data-tab="features">
				{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-features.html" sections=features}}
			</div>

			{{!-- Effects Tab --}}
			<div class="tab effects" data-group="primary" data-tab="effects">
				{{>  "modules/tidy5e-sheet/templates/actors/parts/tidy5e-effects.html"}}
			</div>

			{{!-- Biography Tab --}}
			<div class="tab biography" data-group="primary" data-tab="biography">
				<div class="notes-container">
					<div class="top-notes note-entries">
						<article>
							<ul class="character-details">
								<li><span>{{ localize "TIDY5E.Gender" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-gender" data-maxlength="40">{{actor.flags.tidy5e-sheet.gender}}</span><input data-input="{{actor._id}}-gender" type="hidden" name="flags.tidy5e-sheet.gender" value="{{actor.flags.tidy5e-sheet.gender}}"></li>
								<li><span>{{ localize "TIDY5E.Age" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-age" data-maxlength="5">{{actor.flags.tidy5e-sheet.age}}</span><input data-input="{{actor._id}}-age" type="hidden" name="flags.tidy5e-sheet.age" value="{{actor.flags.tidy5e-sheet.age}}"></li>
								<li><span>{{ localize "TIDY5E.Height" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-height" data-maxlength="20">{{actor.flags.tidy5e-sheet.height}}</span><input data-input="{{actor._id}}-height" type="hidden" name="flags.tidy5e-sheet.height" value="{{actor.flags.tidy5e-sheet.height}}"></li>
								<li><span>{{ localize "TIDY5E.Weight" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-weight" data-maxlength="20">{{actor.flags.tidy5e-sheet.weight}}</span><input data-input="{{actor._id}}-weight" type="hidden" name="flags.tidy5e-sheet.weight" value="{{actor.flags.tidy5e-sheet.weight}}"></li>
								<li><span>{{ localize "TIDY5E.Eyes" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-eyes" data-maxlength="40">{{actor.flags.tidy5e-sheet.eyes}}</span><input data-input="{{actor._id}}-eyes" type="hidden" name="flags.tidy5e-sheet.eyes" value="{{actor.flags.tidy5e-sheet.eyes}}"></li>
								<li><span>{{ localize "TIDY5E.Skin" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-skin" data-maxlength="40">{{actor.flags.tidy5e-sheet.skin}}</span><input data-input="{{actor._id}}-skin" type="hidden" name="flags.tidy5e-sheet.skin" value="{{actor.flags.tidy5e-sheet.skin}}"></li>
								<li><span>{{ localize "TIDY5E.Hair" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-hair" data-maxlength="40">{{actor.flags.tidy5e-sheet.hair}}</span><input data-input="{{actor._id}}-hair" type="hidden" name="flags.tidy5e-sheet.hair" value="{{actor.flags.tidy5e-sheet.hair}}"></li>
							</ul>
						</article>
					</div>
					<div class="main-notes">
						<div class="left-notes note-entries">
							<article>
								<div class="section-titles biopage">{{ localize "DND5E.PersonalityTraits" }}</div>
								{{editor system.details.trait target="system.details.trait" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
							<article>
								<div class="section-titles biopage">{{ localize "DND5E.Ideals" }}</div>
								{{editor system.details.ideal target="system.details.ideal" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
							<article>
								<div class="section-titles biopage">{{ localize "DND5E.Bonds" }}</div>
								{{editor system.details.bond target="system.details.bond" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
							<article>
								<div class="section-titles biopage">{{ localize "DND5E.Flaws" }}</div>
								{{editor system.details.flaw target="system.details.flaw" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
						</div>

						<div class="right-notes note-entries">
							<article class="appearance-notes">
								<div class="section-titles biopage">{{ localize "DND5E.Appearance" }}</div>
								{{editor system.details.appearance target="system.details.appearance" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
							<article class="biography-notes">
								<div class="section-titles">{{ localize "DND5E.Background" }}/{{ localize "DND5E.Biography" }}</div>
								{{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
							</article>
						</div>
					</div>

				</div>
			</div>

			{{!-- Journal Tab --}}
			<div class="tab journal" data-group="primary" data-tab="journal">
				<div class="left-notes note-entries">
					<article>
						<div class="section-titles">
							<input type="text" name="flags.tidy5e-sheet.notes1.name" value="{{actor.flags.tidy5e-sheet.notes1.name}}" placeholder="{{ localize 'TIDY5E.JournalPoi' }}"/>
						</div>
						{{editor journalNotes1HTML target="flags.tidy5e-sheet.notes1.value" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="flags.tidy5e-sheet.notes2.name" value="{{actor.flags.tidy5e-sheet.notes2.name}}" placeholder="{{ localize 'TIDY5E.JournalLoi' }}"/>
						</div>
						{{editor journalNotes2HTML target="flags.tidy5e-sheet.notes2.value" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="flags.tidy5e-sheet.notes3.name" value="{{actor.flags.tidy5e-sheet.notes3.name}}" placeholder="{{ localize 'TIDY5E.JournalQuests' }}"/>
						</div>
						{{editor journalNotes3HTML target="flags.tidy5e-sheet.notes3.value" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="flags.tidy5e-sheet.notes4.name" value="{{actor.flags.tidy5e-sheet.notes4.name}}" placeholder="{{ localize 'TIDY5E.JournalMisc' }}"/>
						</div>
						{{editor journalNotes4HTML target="flags.tidy5e-sheet.notes4.value" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
				</div>
				<div class="right-notes note-entries">
					<article class="journal-notes">
						<div class="section-titles">{{ localize 'TIDY5E.JournalEntries' }}</div>
						{{editor journalHTML target="flags.tidy5e-sheet.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
				</div>
			</div>
		</section>
	</div>
</form>
