<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="tidy5e-sheet tidy5e-npc {{#if actor.flags.tidy5e-sheet.allow-edit}}allow-edit{{/if}}">

		{{!-- Item Info Card --}}
		<section id="item-info-container">
			<i class="item-info-container-background fab fa-d-and-d"></i>
			<div class="info-wrap">
				<article id="item-info-container-content">
					<!-- Info Card here -->
				</article>

				<article class="info-card-hint">
					<p><span class="key">X</span> {{localize "TIDY5E.ItemCardsKeyHint"}}</p>
					<p><i class="fas fa-mouse"></i> {{localize "TIDY5E.ItemCardsMouseHint"}}</p>
				</article>
			</div>
		</section>

		{{> "dnd5e.actor-warnings"}}

    {{!-- NPC Sheet Header --}}
    <header class="tidy5e-header">
      <section class="profile-wrap">
        <div class="profile">

            {{!-- Death Saves --}}
            <div class="death-saves">
                <div class="counter-value">
                    <i class="fas fa-check"></i>
                    <input type="text" name="flags.tidy5e-sheet.death.success" data-dtype="Number" placeholder="0"
                    value="{{actor.flags.tidy5e-sheet.death.success}}" maxlength="1" data-tooltip="{{ localize 'DND5E.DeathSave' }}">
                    <div class="death-save rollable has-note death-save-tidy">  <!-- data-action="rollDeathSave" -->
                        <!-- <div class="note">{{ localize "DND5E.DeathSave" }}</div> -->
                        <i class="fas fa-skull"></i>
                    </div>
                    <input type="text" name="flags.tidy5e-sheet.death.failure" data-dtype="Number" placeholder="0"
                    value="{{actor.flags.tidy5e-sheet.death.failure}}" maxlength="1">
                    <i class="fas fa-times"></i>
                </div>
            </div>

          {{!-- Portrait --}}
          <div class="portrait">
            <img class="player-image" src="{{actor.img}}" alt="{{actor.name}}" title="{{ localize 'TIDY5E.EditActorImage' }} / {{ localize 'TIDY5E.ShowActorImage' }}" data-edit="img">
						<div class="portrait-menu hidden">
							<a class="showActorArt" id="showPortrait">{{ localize 'TIDY5E.ShowPortraitArt' }}</a>
							<a class="showActorArt" id="showToken">{{ localize 'TIDY5E.ShowTokenArt' }}</a>
						</div>
          </div>

          {{!-- HP Overlay --}}
          <div class="hp-overlay-wrapper">
            <div class="hp-overlay" style="background: linear-gradient(
                0deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 0, 0, 1) calc(100% - {{hpOverlayCalculationCurrent}}),
                rgba(255, 255, 255, 1) calc(100% - {{hpOverlayCalculationCurrent}}),
                rgba(255, 255, 255, 1) 100%);">
            </div>
          </div>

          {{!-- Exhaustion --}}
          <div class="exhaustion-container level-{{actor.flags.tidy5e-sheet.exhaustion}} has-note" data-tooltip="{{ @root.exhaustionTooltip }}">
              <div class="level-display">{{actor.flags.tidy5e-sheet.exhaustion}}</div>
              <div class="exhaustion-wrap">
                  <div class="exhaustion-icon">
                      <i class="far fa-grin"></i>
                      <i class="far fa-smile"></i>
                      <i class="far fa-meh"></i>
                      <i class="far fa-frown"></i>
                      <i class="far fa-frown-open"></i>
                      <i class="far fa-tired"></i>
                      <i class="far fa-dizzy"></i>
                  </div>
                  <ul class="exhaust-level">
                      <li data-elvl="0">0</li>
                      <li data-elvl="1">1</li>
                      <li data-elvl="2">2</li>
                      <li data-elvl="3">3</li>
                      <li data-elvl="4">4</li>
                      <li data-elvl="5">5</li>
                      <li data-elvl="6">6</li>
                  </ul>
              </div>
          </div>

          {{!-- Resting --}}
          <div class="rest-container has-note" data-tooltip="{{ localize 'TIDY5E.RestHint' }}">
            <!-- <div class="note">{{ localize 'TIDY5E.RestHint' }}</div> -->
            <div class="resting">
              <span class="resting-icon"><i class="rest-icon fas fa-bed"></i></span>
              <a class="rest short-rest" title="{{ localize 'TIDY5E.RestS' }}"><i class="fas fa-hourglass-half"></i></a>
              <a class="rest long-rest" title="{{ localize 'TIDY5E.RestL' }}"><i class="fas fa-hourglass-end"></i></a>
            </div>
          </div>

          {{!-- Hit Points --}}
          <div class="portrait-hp" title="{{ localize 'DND5E.HitPoints' }}">
            <div class="hp-bar" style="background: linear-gradient(
								-90deg,
								transparent 0%,
								transparent calc(100% -  {{hpBarCalculationCurrent}}),
								 	rgba(0, 200, 0, 0.5) calc(100% - {{hpBarCalculationCurrent}}),
								 	rgba(0, 200, 0, 0.5) 100%);">
						</div>
            <input class="hp-min" name="system.attributes.hp.value" type="number" value="{{hp.value}}" placeholder="10"
            title="{{localize 'DND5E.HitPointsCurrent'}}" data-dtype="Number" maxlength="5">
            <span class="value-seperator sep"> / </span>
            <input class="hp-max" name="system.attributes.hp.max" type="text" value="{{hp.max}}" placeholder="10"
            title="{{localize 'DND5E.HitPointsMax'}}" data-dtype="Number" maxlength="5">
          </div>
        </div>

        <div class="portrait-hp-formula health" title="{{ localize 'DND5E.HPFormula' }}">
          <span class="rollable" title="{{ localize 'DND5E.HitDiceRoll'}}/{{ localize 'TIDY5E.HitDiceRollAverage'}}"><i class="fas fa-dice-six"></i></span>
          <div class="formula-edit">
            <input name="system.attributes.hp.formula" class="hpformula" type="text" placeholder="{{ localize 'DND5E.HPFormula' }}" value="{{system.attributes.hp.formula}}"  maxlength="12" title="{{ localize 'DND5E.HPFormula' }}: {{system.attributes.hp.formula}}">
          </div>
        </div>

        {{!-- Temp Hit Points --}}
        <div class="portrait-temp">
          <input name="system.attributes.hp.temp" type="text" class="temphp"
          placeholder="+{{ localize 'DND5E.Temp' }}" value="{{#if (eq hp.temp 0)}}{{else}}{{hp.temp}}{{/if}}"
          title="{{localize 'DND5E.HitPointsTemp'}}" data-dtype="Number" maxlength="5">
          <input name="system.attributes.hp.tempmax" type="text" class="max-temphp"
          placeholder="+{{ localize 'DND5E.Max' }}" value="{{#if (eq hp.tempmax 0)}}{{else}}{{hp.tempmax}}{{/if}}"
          title="{{localize 'DND5E.HitPointsTempMax'}}" data-dtype="Number" maxlength="5">
          {{#if @root.allowHpMaxOverride}}
          <a class="config-button hit-points-tidy" data-tooltip="{{localize 'DND5E.HitPointsConfig'}}">
						<i class="fas fa-cog"></i>
					</a>
          {{else}}
          <a class="config-button" data-action="hit-points" data-tooltip="{{localize 'DND5E.HitPointsConfig'}}">
						<i class="fas fa-cog"></i>
					</a>
          {{/if}}
        </div>

      </section>

      {{!-- Character Details --}}
      <div class="character-details">
        <section class="general-information">
          <input data-input="{{actor._id}}-name" name="name" type="hidden" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}" maxlength="40">
          <i class="link-state fas fa-link" title="{{ localize 'TIDY5E.TokenLinked' }}"></i>
          <i class="link-state fas fa-unlink" title="{{ localize 'TIDY5E.TokenUnlinked' }}"></i>
          <h1 class="char-name" contenteditable="true" spellcheck="false" data-target="{{actor._id}}-name" data-placeholder="{{ localize 'DND5E.Name' }}" data-maxlength="40">{{actor.name}}</h1>
          <div class="level-information">
            <div class="xp">
              <span>{{system.details.xp.value}} XP</span>
            </div>
            <div class="level">
              <input data-input="{{actor._id}}-cr" name="system.details.cr" type="hidden" value="{{labels.cr}}" placeholder="0" maxlength="4">
              <div>{{ localize "DND5E.AbbreviationCR" }} <span contenteditable="true" data-target="{{actor._id}}-cr" data-placeholder="0" data-maxlength="4">{{labels.cr}}</span></div>
            </div>
          </div>
        </section>

        {{!-- Character Summary --}}
        <ul class="origin-summary">
          <li>
            <ul class="actor-size-select">
              <li><span class="size-label" data-size="{{system.traits.size}}">{{lookup config.actorSizes system.traits.size}}</span>
                <ul class="size-list" data-target="system.traits.size">
                  {{#each config.actorSizes as |label size|}}
                    <li data-size="{{size}}">{{label}}</li>
                  {{/each}}
                </ul>
              </li>
            </ul>
            <span class="creature-type" title="{{labels.type}}">
              <a class="config-button" data-action="type" title="{{localize 'DND5E.CreatureTypeConfig'}}">{{#if (or (eq labels.type '') (eq labels.type none))}} {{localize 'DND5E.CreatureType'}} {{else}} {{labels.type}} {{/if}}</a>
            </span>
            <!--
            <span class="environment" title="{{ localize 'TIDY5E.Environment' }}"><i class="fas fa-tree"></i><span class="environment-label"><span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-environment" data-placeholder="{{ localize 'TIDY5E.Environment' }}" data-maxlength="80">{{system.details.environment}}</span></span></span>
            <span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-alignment" data-placeholder="{{ localize 'DND5E.Alignment' }}">{{system.details.alignment}}</span>
            <span class="source source-info" contenteditable="true" spellcheck="false" data-target="{{actor._id}}-source" data-placeholder="{{ localize 'DND5E.Source' }}" title="{{system.details.source}}">{{system.details.source}}</span>
            <input type="hidden" data-input="{{actor._id}}-environment" name="system.details.environment" value="{{system.details.environment}}" placeholder="{{ localize 'TIDY5E.Environment' }}">
            <input type="hidden" data-input="{{actor._id}}-alignment" name="system.details.alignment" value="{{system.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}">
            <input data-input="{{actor._id}}-source" name="system.details.source" type="hidden" value="{{system.details.source}}" placeholder="{{ localize 'DND5E.Source' }}" >
            -->
            <span class="environment">
                <i class="fas fa-tree"></i>
                <span class="environment-label">
                    <span data-placeholder="{{ localize 'TIDY5E.Environment' }}">{{system.details.environment}}</span>
                </span>
            </span>
            <span class="origin-summary-text" data-placeholder="{{ localize 'DND5E.Alignment' }}">{{system.details.alignment}}</span>
            <span class="origin-summary-text source source-info" data-placeholder="{{ localize 'DND5E.Source' }}">{{system.details.source}}</span>
          </li>
          <li class="proficiency">
            {{ localize 'DND5E.Proficiency' }}: {{numberFormat system.attributes.prof decimals=0 sign=true}}
          </li>
          {{#if owner}}
          <li class="origin-summary-config">
            <a class="config-button origin-summary-tidy" data-tooltip="{{localize 'TIDY5E.OriginSummaryConfig'}}">
                <i class="fas fa-cog"></i>
            </a>
          </li>
          {{/if}}
        </ul>

        {{!-- Character Movement --}}

        <section class="movement">
          <ul class="speed-form">
            <li><h4>{{ localize 'DND5E.Speed' }}</h4></li>
            {{#if movement.primary}}
            <li class="movement-primary" title="{{movement.primary}}">{{movement.primary}}</li>
            {{/if}}
            {{#if movement.special}}
            <li class="movement-special" title="{{movement.special}}">{{movement.special}}</li>
            {{/if}}
            <li class="configure-movement">
              <a class="config-button" data-action="movement" data-tooltip="{{localize 'DND5E.MovementConfig'}}">
                <i class="fas fa-cog"></i>
              </a>
            </li>
          </ul>
        </section>

        <section class="character-stats">
          {{!-- Header Attributes --}}
          <ul class="header-attributes">
            <li class="header-attribute ac-display" data-attribution="attributes.ac" data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 90 100" xml:space="preserve">
							<path d="M45,100C-2.6,79.3,0,12.6,0,12.6c0-2.2,1.8-4,4.4-4.6l39.1-7.9C44,0,44.5,0,45,0c0.5,0,1,0,1.4,0.1L85.5,8
								c2.6,0.5,4.4,2.4,4.4,4.6C90,12.6,92.6,79.3,45,100L45,100z"/>
							</svg>
							<div class="attribute-value attributable" data-property="attributes.ac">
                <a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}">
                  <!--<i class="fas fa-cog"></i>-->
                  {{system.attributes.ac.value}}
                </a>
							</div>
						</li>
						<li class="header-attribute initiative">
							<h4 class="attribute-name rollable" data-action="rollInitiative" title="{{ localize 'DND5E.Initiative' }}">{{ localize 'TIDY5E.AbbrInitiative' }}</h4>
							<div class="value">
								<span>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
							</div>
							<footer class="value-footer">
								<label for="{{@root/appId}}-ini-mod">{{ localize 'TIDY5E.AbbrMod' }}</label>
								<input id="{{@root/appId}}-ini-mod" class="ini-mod" name="system.attributes.init.bonus" type="text" placeholder="0" data-dtype="Number" value="{{system.attributes.init.bonus}}" maxlength="2">
							</footer>
              <a class="config-button" data-action="initiative" data-tooltip="{{localize 'DND5E.InitiativeConfig'}}">
								<i class="fas fa-cog"></i>
							</a>
						</li>
          </ul>

          {{!-- Ability Scores --}}
          <ul class="ability-scores">
            {{#each abilities as |ability id|}}
            <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
							<div class="wrapper" data-ability="{{id}}">
                <h4 class="ability-name box-title rollable" title="{{ability.label}}">{{ability.abbr}}</h4>
                <div class="value">
                  <input type="text" value="{{ability.value}}" name="system.abilities.{{id}}.value"
                  class="ability-score" placeholder="10" data-dtype="Number">
                </div>
                <div class="ability-modifiers value-footer">
                  <span class="ability-mod rollable" title="{{ localize 'DND5E.AbilityModifier' }}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                  <input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}" data-dtype="Number">
                  <a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND5E.Proficiency' }}">
                    {{{ability.icon}}}
                  </a>
                  <a class="config-button" data-action="ability" data-tooltip="{{localize 'DND5E.AbilityConfigure'}}">
                    <i class="fas fa-cog"></i>
                  </a>
                  <span class="ability-save rollable" title="{{ localize 'DND5E.ActionSave' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
                </div>
                <span class="mod-label ability-mod-label">{{ localize 'TIDY5E.AbbrMod' }}</span>
                <span class="mod-label save-mod-label">{{ localize 'TIDY5E.AbbrSavingThrow' }}</span>
              </div>

            </li>
            {{/each}}
          </ul>
        </section>

      </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="flex tidy5e-navigation tabs" data-group="primary">
      <a class="item active" data-tab="attributes">{{ localize "TIDY5E.Abilities" }}</a>
      {{#unless @root/hideSpellbookTabNpc}}
      <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
      {{/unless}}
      <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
      <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
      <a class="item" data-tab="journal">{{ localize "TIDY5E.Journal" }}</a>
      {{#if owner}}
      <div class="toggle-allow-edit"><span><i class="fas fa-lock" title="{{localize 'TIDY5E.EnableEdit'}} - {{localize 'TIDY5E.EditHint'}}"></i><i class="fas fa-lock-open" title="{{localize 'TIDY5E.DisableEdit'}} - {{localize 'TIDY5E.EditHint'}}"></i></span></div>
      {{/if}}
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
      <div class="tab attributes" data-group="primary" data-tab="attributes">

        <div class="left-pane">
          {{!-- Skills --}}
          <ul class="skills-list {{#if actor.flags.tidy5e-sheet.npcSkillsExpanded}}expanded{{/if}} {{#if actor.flags.tidy5e-sheet.npcSkillsAlwaysVisible}}.always-visible{{/if}}">
            {{#each config.skills as |obj s|}}
            {{#with (lookup ../skills s) as |skill|}}
            <li class="skill {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
							<a class="config-button" data-action="skill" title="{{localize 'DND5E.SkillConfigure'}}"><i class="fas fa-cog"></i></a>
              <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number">
              <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
              <h4 class="skill-name rollable">{{skill.label}}</h4>
              <span class="skill-ability">{{skill.abbreviation}}</span>
              <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
              <span class="skill-passive" title="{{skill.label}} ({{ localize 'DND5E.Passive' }})">({{skill.passive}})</span>
            </li>
            {{/with}}
            {{/each}}
            <li class="toggle-proficient" data-show-skills="{{ localize 'TIDY5E.Show' }}" data-hide-skills="{{ localize 'TIDY5E.Hide' }}"> {{ localize "DND5E.NotProficient" }}</li>
          </ul>
          {{!-- Traits --}}
          {{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-traits.html"}}
        </div>

        <section class="center-pane">

          {{!-- Legendary Actions --}}
          <div class="counters">
            <div class="counter legendary">
              <h4>{{ localize "DND5E.LegAct" }}</h4>
              <div class="counter-value">
                <input name="system.resources.legact.value" type="number" step="any"
                value="{{system.resources.legact.value}}" placeholder="0"
                title="{{localize 'DND5E.LegActRemaining'}}"
                data-dtype="Number">
                <span class="sep">/</span>
                {{numberInput system.resources.legact.max name="system.resources.legact.max" min=0 step=1
                placeholder=0}}
              </div>
            </div>
            <div class="counter legendary">
              <h4>{{ localize "DND5E.LegRes" }}</h4>
              <div class="counter-value">
                <input name="system.resources.legres.value" type="number" step="any"
                value="{{system.resources.legres.value}}" placeholder="0"
                title="{{localize 'DND5E.LegResRemaining'}}"
                data-dtype="Number">
                <span class="sep">/</span>
                {{numberInput system.resources.legres.max name="system.resources.legres.max" min=0 step=1
                placeholder=0}}
              </div>
            </div>
            <div class="counter lair">
              <h4>{{ localize "DND5E.LairAct" }}</h4>
              <div class="counter-value">
                <input name="system.resources.lair.value" type="checkbox" value="{{system.resources.lair.value}}"
                data-dtype="Boolean" {{checked system.resources.lair.value}}>
                <input name="system.resources.lair.initiative" type="text" value="{{system.resources.lair.initiative}}"
                data-dtype="Number" placeholder="Init.">
              </div>
            </div>
          </div>

          {{!-- Alternative Trait Position --}}
					<div class="alt-trait-pos"></div>

          {{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-features.html" sections=features}}

          <div class="inventory-currency">
            <ol class="currency">
              <!--
              <h3>
                  {{localize "DND5E.Currency"}}
                  <a class="action-button currency-convert {{rollableClass}}" data-action="convertCurrency" data-tooltip="DND5E.CurrencyConvert">
                      <i class="fas fa-coins"></i>
                  </a>
              </h3>
              {{#each system.currency as |v k|}}
              <label class="denomination {{k}}">{{ lookup ../labels.currencies k }}</label>
              <input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number">
              {{/each}}
              -->
              <ul class="currency">
                <li class="currency-header" title="{{localize 'DND5E.Currency'}}">
                  <i class="fas fa-coins"></i>
                </li>
                {{#each system.currency as |v k|}}
                <li class="currency-item {{k}}" title="{{ lookup ../config.currencies k }}">
                  <input type="text" name="system.currency.{{k}}" id="{{@root/appId}}-system.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
                  <label for="{{@root/appId}}-system.currency.{{k}}" class="denomination {{k}}" data-denom="{{k}}">{{ lookup ../config.currencies k }}</label>
                </li>
                {{/each}}
                <!--
                <li class="currency-item convert">
                  <a class="currency-convert rollable" data-action="convertCurrency" title="{{localize 'DND5E.CurrencyConvertHint'}}">
                    <i class="fas fa-funnel-dollar"></i>
                  </a>
                </li>
                -->
              </ul>
            </ol>
          </div>
          {{#if @root/hideSpellbookTabNpc}}
          {{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-npc-spellbook.html"}}
          {{/if}}
        </section>

      </div>

      {{#unless @root/hideSpellbookTabNpc}}

			{{!-- Spellbook Tab --}}
      {{!-- TODO add grid support ? --}}
			<div class="tab spellbook" data-group="primary" data-tab="spellbook">
        {{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-spellbook.html"}}
			</div>

      {{/unless}}

      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{>  "modules/tidy5e-sheet/templates/actors/parts/tidy5e-effects.html"}}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="biography">
        <div class="top-notes note-entries">
					<article>
						<ul class="character-details">
							<li><span>{{ localize "TIDY5E.Gender" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-gender" data-maxlength="40">{{actor.flags.tidy5e-sheet.gender}}</span><input data-input="{{actor._id}}-gender" type="hidden" name="flags.tidy5e-sheet.gender" value="{{actor.flags.tidy5e-sheet.gender}}"></li>
              <li><span>{{ localize "TIDY5E.Age" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-age" data-maxlength="5">{{actor.flags.tidy5e-sheet.age}}</span><input data-input="{{actor._id}}-age" type="hidden" name="flags.tidy5e-sheet.age" value="{{actor.flags.tidy5e-sheet.age}}"></li>
              <li><span>{{ localize "TIDY5E.Height" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-height" data-maxlength="20">{{actor.flags.tidy5e-sheet.height}}</span><input data-input="{{actor._id}}-height" type="hidden" name="flags.tidy5e-sheet.height" value="{{actor.flags.tidy5e-sheet.height}}"></li>
              <li><span>{{ localize "TIDY5E.Weight" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-weight" data-maxlength="20">{{actor.flags.tidy5e-sheet.weight}}</span><input data-input="{{actor._id}}-weight" type="hidden" name="flags.tidy5e-sheet.weight" value="{{actor.flags.tidy5e-sheet.weight}}"></li>
              <li><span>{{ localize "TIDY5E.Eyes" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-eyes" data-maxlength="40">{{actor.flags.tidy5e-sheet.eyes}}</span><input data-input="{{actor._id}}-eyes" type="hidden" name="flags.tidy5e-sheet.eyes" value="{{actor.flags.tidy5e-sheet.eyes}}"></li>
              <li><span>{{ localize "TIDY5E.Skin" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-skin" data-maxlength="40">{{actor.flags.tidy5e-sheet.skin}}</span><input data-input="{{actor._id}}-skin" type="hidden" name="flags.tidy5e-sheet.skin" value="{{actor.flags.tidy5e-sheet.skin}}"></li>
              <li><span>{{ localize "TIDY5E.Hair" }}:</span><span {{#if owner}}contenteditable="true"{{/if}} spellcheck="false" data-target="{{actor._id}}-hair" data-maxlength="40">{{actor.flags.tidy5e-sheet.hair}}</span><input data-input="{{actor._id}}-hair" type="hidden" name="flags.tidy5e-sheet.hair" value="{{actor.flags.tidy5e-sheet.hair}}"></li>
						</ul>
					</article>
				</div>
        <div class="toggle-personality-info" title="{{localize 'TIDY5E.TogglePersonalityInfo'}}">{{#if actor.flags.tidy5e-sheet.showNpcPersonalityInfo}}<i class="fas fa-angle-double-left"></i>{{else}}<i class="fas fa-angle-double-right"></i>{{/if}}</div>
        <div class="left-notes note-entries hidden">
          <article>
					<div class="section-titles biopage">{{ localize "DND5E.PersonalityTraits" }}</div>
						{{editor actor.flags.tidy5e-sheet.trait target="flags.tidy5e-sheet.trait" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "DND5E.Ideals" }}</div>
						{{editor actor.flags.tidy5e-sheet.ideal target="flags.tidy5e-sheet.ideal" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "DND5E.Bonds" }}</div>
						{{editor actor.flags.tidy5e-sheet.bond target="flags.tidy5e-sheet.bond" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "DND5E.Flaws" }}</div>
						{{editor actor.flags.tidy5e-sheet.flaw target="flags.tidy5e-sheet.flaw" button=true editable=editable engine="prosemirror" collaborate=false}}
					</article>
        </div>

        <div class="right-notes note-entries">
          <article class="biography-notes">
            <div class="section-titles">{{ localize "DND5E.Background" }}/{{ localize "DND5E.Biography" }}</div>
            {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
        </div>
      </div>

      {{!-- Journal Tab --}}
      <div class="tab journal" data-group="primary" data-tab="journal">
        <div class="left-notes note-entries">
          <article>
            <div class="section-titles">
              <input type="text" name="flags.tidy5e-sheet.notes1.name" value="{{actor.flags.tidy5e-sheet.notes1.name}}" placeholder="{{ localize 'TIDY5E.JournalPoi' }}"/>
            </div>
            {{editor journalNotes1HTML target="flags.tidy5e-sheet.notes1.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
          <article>
            <div class="section-titles">
              <input type="text" name="flags.tidy5e-sheet.notes2.name" value="{{actor.flags.tidy5e-sheet.notes2.name}}" placeholder="{{ localize 'TIDY5E.JournalLoi' }}"/>
            </div>
            {{editor journalNotes2HTML target="flags.tidy5e-sheet.notes2.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
          <article>
            <div class="section-titles">
              <input type="text" name="flags.tidy5e-sheet.notes3.name" value="{{actor.flags.tidy5e-sheet.notes3.name}}" placeholder="{{ localize 'TIDY5E.JournalQuests' }}"/>
            </div>
            {{editor journalNotes3HTML target="flags.tidy5e-sheet.notes3.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
          <article>
            <div class="section-titles">
              <input type="text" name="flags.tidy5e-sheet.notes4.name" value="{{actor.flags.tidy5e-sheet.notes4.name}}" placeholder="{{ localize 'TIDY5E.JournalMisc' }}"/>
            </div>
            {{editor journalNotes4HTML target="flags.tidy5e-sheet.notes4.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
        </div>
        <div class="right-notes note-entries">
          <article class="journal-notes">
            <div class="section-titles">{{ localize 'TIDY5E.JournalEntries' }}</div>
            {{editor journalHTML target="flags.tidy5e-sheet.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
          </article>
        </div>
      </div>

    </section>
  </div>
</form>
