<form class="{{cssClass}} flexcol" autocomplete="off">
	<div class="tidy5e-sheet limited">
		{{!-- Sheet Header --}}
		<header class="flex tidy5e-header">
			<div class="profile">
				<div class="portrait">
					<img src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" />
				</div>
			</div>
		</header>

		{{!-- NPC Sheet Body --}}
		<section class="sheet-body">
			{{!-- Biography Tab --}}
			<div class="tab biography flexrow">
				<div class="note-entries">
					<article>
						<div class="section-titles biopage">{{localize "DND5E.Appearance"}}</div>
						{{editor system.details.appearance target="system.details.appearance" button=true engine="prosemirror" owner=owner editable=editable}}
					</article>
					<article class="background-notes">
						<div class="section-titles">{{localize "DND5E.Background"}}</div>
						{{editor biographyHTML target="system.details.biography.value" target="system.details.biography.value" button=true engine="prosemirror" owner=owner editable=editable}}
					</article>
				</div>
			</div>
		</section>
	</div>
</form>
