{{!-- Inventory Header --}}
{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-inventory-header.html"}}

<div class="grid-layout">
  <ul class="inventory-list items-list">
    {{#each sections as |section sid|}}
    <li class="items-header">
      <h3 class="item-name">{{localize section.label}}</h3>
      <div class="item-control inventory-plus-helper" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}></div>
    </li>
    <ul class="item-list">
      {{#each section.items as |item iid|}}
      {{#with (lookup @root.itemContext item.id) as |ctx|}}
        <li class="item {{#if (or item.flags.magicitems.enabled item.system.properties.mgc)}}magic-item{{/if}} {{item.attunement.cls}} {{#if item.system.equipped}}equipped{{/if}}" data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item.id}}{{/if}}" data-item-index="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
          {{~#if ctx.attunement}} 
            <i class="fas fa-sun icon-attuned {{item.attunement.cls}}" title="{{localize item.attunement.title}}"></i>
          {{/if}}

          {{#if item.flags.tidy5e-sheet.favorite}}
          <i class="fas fa-bookmark icon-fav" title="{{localize 'TIDY5E.isFav'}}"></i>
          {{/if}}

          {{#if @root.owner}}
          <a class="item-control item-edit" style="display:none" data-action="itemEdit" data-tooltip="DND5E.ItemEdit">
            <i class="fas fa-edit fa-fw"></i>
          </a>
          {{/if}}	

          <div class="item-name rollable" >
            <div class="item-image" style="background-image: url('{{item.img}}')">
              <i class="fa fa-dice-d20"></i>
            </div>
          </div>
          <div class="item-stats">

            <span class="item-quantity{{#if item.isStack}} isStack{{/if}}" title="{{localize 'DND5E.Quantity'}}">
              <input class="item-count" name="system.quantity" type="text" value="{{item.system.quantity}}" maxlength="2" >
            </span>

            <div class="item-detail item-uses" title="{{localize 'DND5E.Uses'}}: {{item.system.uses.value}}/{{item.system.uses.max}} ">
              {{#if item.hasUses }}
              <i class="fas fa-bolt"></i><input type="text" name="system.uses.value" value="{{item.system.uses.value}}" placeholder="0" maxlength="2" >
              {{/if}}
            </div>

          </div>

          <div class="info-card {{~#if (or item.flags.magicitems.enabled item.system.properties.mgc)}} magic-item {{/if}} {{item.attunement.cls}} {{~#if item.system.equipped}} equipped {{/if}}" data-item-id="{{item._id}}" data-item-index="{{item._id}}" >
            <p class="info-card-name">{{item.name}}</p>
            {{#if item.system.properties.amm}}
              <span class="ammo" data-id="{{item._id}}"></span>
            {{/if}}
            <div class="info-card-states">
              {{~#if (or item.flags.magicitems.enabled item.system.properties.mgc)}}<span><i class="fas fa-magic"></i>Magic Item</span>{{/if}}
              {{~#if ctx.attunement}}<span class="info-attuned {{item.attunement.cls}}"><i class="fas fa-sun"></i>{{localize item.attunement.title}}</span>{{/if}}
            </div>
            {{#if item.hasUses }}
            <div class="info-card-amount">
              <span><i class="fas fa-bolt"></i><b>{{localize 'DND5E.Charges'}}:</b> {{item.system.uses.value}}/{{item.system.uses.max}}</span>
            </div>
            {{/if}}
            <div class="info-card-amount">
              <span class="info-weight"><b>{{localize 'DND5E.Weight'}}:</b> {{ item.system.weight }} {{ @root.weightUnit }}</span>
              <span class="info-quantity"><b>{{localize 'DND5E.Quantity'}}:</b> {{item.system.quantity}}</span>
            </div>
            <div class="description-wrap">
              <div class="info-card-description">
                <!-- item description -->
              </div>
            </div>
            <article class="mod-roll-buttons"></article>
          </div>
        </li>
      {{/with}}
      {{/each}}

      {{#if @root.owner}}
      <li class="items-footer">
        <a class="item-create" data-action="itemCreate" data-tooltip="DND5E.ItemCreate" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
          <i class="fas fa-plus-circle"></i>
        </a>
      </li>
      {{/if}}
    </ul>
    {{/each}}
  </ul>

</div>

{{!-- Inventory Footer --}}
{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-inventory-footer.html"}}