<div class="traits {{#if actor.flags.tidy5e-sheet.traitsExpanded}}expanded{{/if}}">
	{{#unless @root.isVehicle}}
	<div class="form-group">
		<article title="{{localize 'DND5E.Senses'}}">
			<label for="traits.traits.senses">
				<i class="fas fa-eye"></i>
				<span>{{localize 'DND5E.Senses'}}</span>
			</label>
			<ul class="traits-list">
				{{#each senses as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="config-button" data-action="senses" title="{{localize 'DND5E.SensesConfig'}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.languages.cssClass}}">
		<article title="{{localize 'DND5E.Languages'}}">
			<label for="traits.traits.languages">
				<i class="fas fa-comment"></i>
				<span>{{localize 'DND5E.Languages'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.languages.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="languages" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.Languages')}}" tabindex="0">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>
	{{/unless}}

	<div class="form-group {{traits.traits.di.cssClass}}">
		<article title="{{localize 'DND5E.DamImm'}}">
			<label for="traits.traits.di">
				<i class="fas fa-heart"></i>
				<span>{{localize 'DND5E.DamImm'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.di.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="di" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.DamImm')}}" tabindex="0">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.dr.cssClass}}">
		<article title="{{localize 'DND5E.DamRes'}}">
			<label for="traits.traits.dr">
				<i class="far fa-heart"></i>
				<span>{{localize 'DND5E.DamRes'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.dr.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="dr" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.DamRes')}}" tabindex="0">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.dv.cssClass}}">
		<article title="{{localize 'DND5E.DamVuln'}}">
			<label for="traits.traits.dv">
				<i class="fas fa-heart-broken"></i>
				<span>{{localize 'DND5E.DamVuln'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.dv.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="dv" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.DamVuln')}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.ci.cssClass}}">
		<article title="{{localize 'DND5E.ConImm'}}">
			<label for="traits.traits.ci">
				<i class="fas fa-shield-virus"></i>
				<span>{{localize 'DND5E.ConImm'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.ci.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="ci" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.ConImm')}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	{{#if @root.isCharacter}}
	<div class="form-group {{traits.traits.weaponProf.cssClass}}">
		<article title="{{localize 'DND5E.TraitWeaponProf'}}">
			<label for="traits.traits.weaponProf">
				<svg x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
					<path
						d="M443.7,2.6c-2.2-2.5-5.8-3.3-8.8-1.8C417.9,9,358.8,36.1,304.4,43.5c-4.1,0.6-8-0.3-11.3-2.1c-1.5-0.8-2.4-2.5-2.4-4.2v0
  c0-10.7-8.7-19.4-19.5-19.4h-30.5c-10.7,0-19.5,8.7-19.5,19.4v0c0,1.7-0.9,3.4-2.4,4.2c-3.3,1.8-7.2,2.7-11.3,2.1
  C153.2,36.1,94.2,9,77.1,0.7c-3-1.5-6.6-0.7-8.8,1.8C56.3,16.4,21,64.9,21,154.9c0,83.4,30.3,143.6,44.3,166.9
  c2.9,4.9,10,4.7,12.8-0.2c10.5-19,34-59.1,62-91.7c0.4-0.5,0.9-1,1.3-1.5c28.3-30.7,79.9-9.8,79.9,32v232.2
  c0,10.7,8.7,19.4,19.5,19.4h30.5c10.7,0,19.5-8.7,19.5-19.4V260.4c0-41.8,51.5-62.7,79.9-32c0.4,0.5,0.9,1,1.3,1.5
  c28,32.6,51.5,72.7,62,91.7c2.8,5,9.9,5.1,12.8,0.2c14-23.3,44.3-83.4,44.3-166.9C491,64.9,455.7,16.4,443.7,2.6z"
					/>
				</svg>
				<span>{{localize 'DND5E.TraitWeaponProf'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.weaponProf.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="weapon" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.TraitWeaponProf')}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.armorProf.cssClass}}">
		<article title="{{localize 'DND5E.TraitArmorProf'}}">
			<label for="traits.traits.armorProf">
				<svg x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
					<path
						d="M471.7,198.8c0-56.6-37.8-107.3-81.7-147.1c-76-68.9-191.9-68.9-268,0c-43.9,39.8-81.7,90.5-81.7,147.1
          c0,93-3.2,163.9-12.5,203c-3.9,16.2,4,33,18.3,39.6l113.6,66.3c27.9,13.6,60.3-6.7,60.3-37.7V258.3c0-5.2-3.3-9.8-8.3-11.5
          l-91.3-30.4c-4.9-1.6-8.3-6.3-8.3-11.5v-15.1c0-6.7,5.4-12.1,12.1-12.1h263.4c6.7,0,12.1,5.4,12.1,12.1v15.1c0,5.2-3.3,9.8-8.3,11.5
          l-91.3,30.4c-4.9,1.6-8.3,6.3-8.3,11.5V470c0,31,32.5,51.3,60.3,37.7l113.6-66.3c14.3-6.6,22.2-23.4,18.3-39.6
          C474.9,362.7,471.7,291.8,471.7,198.8L471.7,198.8z"
					/>
				</svg>
				<span>{{localize 'DND5E.TraitArmorProf'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.armorProf.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="armor" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.TraitArmorProf')}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>

	<div class="form-group {{traits.traits.toolProf.cssClass}}">
		<article title="{{localize 'DND5E.TraitToolProf'}}">
			<label for="traits.traits.toolProf">
				<i class="fas fa-hammer"></i>
				<span>{{localize 'DND5E.TraitToolProf'}}</span>
			</label>
			<ul class="traits-list">
				{{#each traits.traits.toolProf.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
				{{/each}}
			</ul>
		</article>
		<a class="trait-selector" data-trait="tool" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.TraitToolProf')}}">
			<i class="fas fa-pencil-alt"></i>
		</a>
	</div>
	{{/if}}
	<div class="toggle-traits" data-show-traits="{{localize 'TIDY5E.Show'}}" data-hide-traits="{{localize 'TIDY5E.Hide'}}">{{localize "TIDY5E.TraitsEmpty"}}</div>
	{{#unless @root.isVehicle}}
	<a class="config-button configure-flags" data-action="flags" title="{{localize 'DND5E.TraitConfig' trait=(localize 'DND5E.SpecialTraits')}}">
		<i class="fas fa-cog"></i>
	</a>
	{{/unless}}
</div>
