{{!-- Spellbook Header --}}
{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-spellbook-header.html"}}

<div class="list-layout">

  <ul class="inventory-list spellbook-list items-list {{#if actor.flags.tidy5e-sheet.allow-edit}}unlocked{{/if}}">
    {{#each spellbook as |section|}}
    <li class="items-header spellbook-header">
      <div class="spell-level-slots">
        <h3>{{section.label}}</h3>

        {{#if section.usesSlots}}
        <div class="spell-detail spell-slots">
          <input type="text" name="system.spells.{{section.prop}}.value" value="{{section.uses}}" placeholder="0"
          data-dtype="Number"/>
          <span class="sep"> / </span>
          <span class="spell-max" data-level="{{section.prop}}" data-slots="{{section.slots}}">
            {{{section.slots}}}
            {{#if ../editable}}
            <a class="slot-max-override" title="{{localize 'DND5E.SpellProgOverride'}}">
              <i class="fas fa-pencil-alt"></i>
            </a>
            {{/if}}
          </span>
        </div>
        {{/if}}

      </div>
      <div class="items-header-labels">
        <div class="items-header-comps"  title="{{localize 'DND5E.SpellComponents'}}"><i class="fas fa-mortar-pestle"></i></div>
        <div class="items-header-school" title="{{localize 'DND5E.SpellSchool'}}"><i class="fas fa-hat-wizard"></i></div>
        <div class="items-header-target" title="{{localize 'DND5E.SpellTarget'}}">{{localize 'DND5E.Target'}}</div>
        <div class="items-header-range" title="{{localize 'DND5E.SpellRange'}}">{{localize 'DND5E.Range'}}</div>
        <div class="items-header-usage" title="{{localize 'DND5E.SpellUsage'}}">{{localize 'DND5E.Usage'}}</div>
        <div class="items-header-controls"></div>
      </div>
    </li>
    <!--
    <li class="items-header spellbook-header flexrow">
      <div class="item-name flexrow">
          <h3>{{section.label}}</h3>
          <div class="spell-slots">
              {{#if section.usesSlots}}
              <input type="text" name="system.spells.{{section.prop}}.value" value="{{section.uses}}" placeholder="0"
                    data-dtype="Number">
              <span class="sep"> / </span>
              <span class="spell-max" data-level="{{section.prop}}" data-slots="{{section.slots}}">
                  {{{section.slots}}}
                  {{#if ../editable}}
                  <a class="slot-max-override" title="{{localize 'DND5E.SpellProgOverride'}}">
                      <i class="fas fa-edit"></i>
                  </a>
                  {{/if}}
              </span>
              {{ else }}
              <span>{{{section.uses}}}</span>
              <span class="sep"> / </span>
              <span class="spell-max">{{{section.slots}}}</span>
              {{/if}}
          </div>
      </div>
      <div class="spell-school">{{localize "DND5E.SpellSchool"}}</div>
      <div class="spell-action">{{localize "DND5E.SpellUsage"}}</div>
      <div class="spell-target">{{localize "DND5E.SpellTarget"}}</div>

      <div class="item-controls flexrow">
        
        {{#if section.canCreate}}
        <a class="item-control item-create" title="{{localize 'DND5E.SpellCreate'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
        </a>
        {{/if}}
        
      </div>
    </li>
    -->
    <ul class="item-list">
      {{#each section.spells as |item i|}}
      {{#with (lookup @root.itemContext item.id) as |ctx|}}
        <li class="item {{~#if item.system.preparation.prepared}} prepared{{/if}} {{#if (eq item.system.preparation.mode 'always')}} alwaysprepared{{/if}} {{#if (eq item.system.preparation.mode 'pact')}} pact{{/if}} {{#if (eq item.system.preparation.mode 'atwill')}} atwill{{/if}} {{#if (eq item.system.preparation.mode 'innate')}} innate{{/if}}" data-item-id="{{item.id}}">
          <div class="item-name rollable">
            <div class="item-image" style="background-image: url('{{item.img}}')">
              <i class="fa fa-dice-d20"></i>
            </div>
            <h4>
              {{item.name}}
            </h4>

          </div>
        
          {{#if item.system.uses.per }}
          <div class="item-detail item-charges">
            <input name="system.uses.value" type="text" value="{{item.system.uses.value}}">/ <input  class="uses-max" name="system.uses.max" type="text" value="{{item.system.uses.max}}">
          </div>
          {{/if}}

          {{#if @root.notHideIconsNextToTheItemName }}
            {{#if item.flags.tidy5e-sheet.favorite}}
            <div class="item-state-icon" title="{{localize 'TIDY5E.isFav'}}"><i class="fas fa-bookmark icon-fav"></i></div>
            {{/if}}
          {{/if}}

          <div class="item-detail spell-comps">
            {{#each item.labels.components.all}}
            <span class="spell-component{{#if tag}} {{abbr}}{{/if}}">{{abbr}}</span>
            {{/each}}
          </div>
          <div class="item-detail spell-school" title="{{localize 'DND5E.SpellSchool'}}: {{item.labels.school}}"><span class="truncate">{{item.labels.school}}</span></div>
          <div class="item-detail spell-target" title="{{localize 'DND5E.Target'}}: {{item.labels.target}}">
            {{#if item.labels.target}}
            {{item.labels.target}}
            {{else}}{{ localize 'DND5E.None' }}
            {{/if}}
          </div>
          <div class="item-detail spell-range" title="{{localize 'DND5E.Range'}}: {{item.labels.range}}">
            {{item.labels.range}}
          </div>
          <div class="item-detail spell-action" title="{{localize 'DND5E.SpellUsage'}}">{{item.labels.activation}}</div>
          
          <div class="info-card {{~#if item.system.preparation.prepared}} equipped {{/if}} {{#if (eq item.system.preparation.mode 'always')}} alwaysprepared{{/if}} {{#if (eq item.system.preparation.mode 'pact')}} pact{{/if}} {{#if (eq item.system.preparation.mode 'atwill')}} atwill{{/if}} {{#if (eq item.system.preparation.mode 'innate')}} innate{{/if}}" data-item-id="{{item._id}}">
            <p class="info-card-name">{{item.name}}</p>
            <div class="info-card-states">
              <!-- <i class="fas fa-hat-wizard"></i><b>{{localize 'DND5E.SpellSchool'}}:</b>  -->
              <span>{{item.labels.school}}</span>
              {{#if @root.owner}}
              {{#if section.canPrepare}}
                <span>{{ctx.toggleTitle}}</span>
              {{/if}}
              {{/if}}
            </div>
            <div class="info-card-amount">
              {{#if item.hasUses }}
              <span><i class="fas fa-bolt"></i><b>{{localize 'DND5E.Charges'}}:</b> {{item.system.uses.value}}/{{item.system.uses.max}}</span>
              {{/if}}
            </div>
            <div class="description-wrap">
              <div class="info-card-description">
                <!-- item description -->
              </div>
            </div>
            <article class="mod-roll-buttons"></article>
          </div>

          {{#if @root.owner}}
          <div class="item-controls flexrow" {{#if @root.classicControlsDisabled}} style="display:none" {{/if}}>
            {{#if section.canPrepare}}
            <a class="item-control item-toggle {{ctx.toggleClass}}" title="{{ctx.toggleTitle}}">
              {{#if (eq ctx.toggleClass 'active')}}
                <i class="fas fa-book"></i> 
                <span class="control-label">{{localize 'TIDY5E.Unprepare'}}</span>
              {{else}}
                <i class="fas fa-book inactive"></i> 
                <span class="control-label">{{localize 'TIDY5E.Prepare'}}</span>
              {{/if}}
            </a>
            {{/if}}
            <a class="item-control item-edit" data-action="itemEdit" title="{{localize 'DND5E.ItemEdit'}}">
              <i class="fas fa-edit fa-fw"></i>
            </a>
            <a class="item-control item-duplicate" data-action="itemDuplicate" title="{{localize 'DND5E.ContextMenuActionDuplicate'}}">
              <i class="fas fa-copy fa-fw"></i>
            </a>
            <a class="item-control item-delete" data-action="itemDelete" title="{{localize 'DND5E.ItemDelete'}}">
              <i class="fas fa-trash fa-fw"></i>
            </a>
          </div>
          {{/if}}
        </li>
      {{/with}}
      {{/each}}
      {{#if section.canCreate}}
      <li class="items-footer">
        <a class="item-create" title="{{localize 'DND5E.SpellCreate'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
          <i class="fas fa-plus-circle"></i> </span>{{localize 'DND5E.Add'}}
        </a>
        {{else}}
        <!-- add button for all spell categories -->
        <a class="item-create" title="{{localize 'DND5E.SpellCreate'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
          <i class="fas fa-plus-circle"></i> {{localize 'DND5E.Add'}}
        </a>
      </li>
      {{/if}}
    </ul>
    {{else}}
    {{#if @root.owner}}
    {{#if filters.spellbook.size}}
    <li class="notice">{{localize 'DND5E.FilterNoSpells'}}</li>
    {{else}}

    <li class="notice">{{localize 'DND5E.NoSpellLevels'}}</li>
    <li class="items-footer">
      <a class="item-create" title="{{localize 'DND5E.SpellCreate'}}" data-type="spell"
      data-level="{{lvl}}"><i class="fas fa-plus-circle"></i> {{localize 'DND5E.SpellCreate'}}</a>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>
</div>

{{!-- Spellbook Footer --}}
{{> "modules/tidy5e-sheet/templates/actors/parts/tidy5e-spellbook-footer.html"}}