<div class="list-layout">
	<ul class="items-list effects-list {{#if actor.flags.tidy5e-sheet.allow-edit}}unlocked{{/if}}">
		{{#each effects as |section sid|}}
		<li class="items-header effects-header" data-effect-type="{{section.type}}">
			<h3 class="item-name effect-name">{{localize section.label}}</h3>
			<div class="items-header-labels">
				<div class="items-header-source" title="{{effect.sourceName}}">
					<span>{{localize 'DND5E.Source'}}</span>
				</div>
				<div class="items-header-duration">{{localize 'DND5E.Duration'}}</div>
				<div class="items-header-controls"></div>
			</div>
		</li>

		<ul class="item-list">
			{{#each section.effects as |effect|}}
			<li class="item effect" data-effect-id="{{effect.id}}" data-effectId="{{effect.id}}">
				<div class="item-name effect-name">
					<img class="item-image" src="{{effect.icon}}" />
					<h4>{{effect.label}}</h4>
				</div>
				<div class="item-detail effect-source" title="{{effect.sourceName}}">
					<span>{{effect.sourceName}}</span>
				</div>
				<div class="item-detail effect-duration">{{effect.duration.label}}</div>
				{{#if @root.owner}} 
				<div class="item-controls effect-controls flexrow" {{#if @root.classicControlsDisabled}} style="display:none" {{/if}}>
					{{#if @root.editable}}
					<a class="effect-control" data-action="toggle" title="{{#if effect.disabled}}{{localize 'DND5E.EffectEnable'}}{{else}}{{localize 'DND5E.EffectDisable'}}{{/if}}">
						<i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
					</a>
					<a class="effect-control effect-edit" data-action="edit" title="{{localize 'DND5E.EffectEdit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="effect-control effect-delete" data-action="delete" title="{{localize 'DND5E.EffectDelete'}}">
						<i class="fas fa-trash"></i>
					</a>
					{{/if}}
				</div>
				{{/if}}
			</li>
			{{/each}}
			<li class="items-footer" data-effect-type="{{section.type}}">
				<a class="effect-create effect-control" data-action="create">
					<i class="fas fa-plus-circle"></i>
					{{localize "DND5E.Add"}}
				</a>
			</li>
		</ul>
		{{/each}}
	</ul>
</div>
