{{#unless @root.isVehicle}}
{{#if @root.isCharacter}}
<div class="inventory-filters">
  <ul class="filter-list" data-filter="features">
    <li class="filter-title" title="{{localize 'DND5E.Filter'}}"><i class="fas fa-filter"></i></li>
    <li class="filter-search" title="{{localize 'TIDY5E.SearchHint'}}"><input type="text" id="feat-search" placeholder="{{localize 'TIDY5E.SearchFeat'}}" value="{{actor.flags.tidy5e-sheet.feat-search}}"><span class="clear-search hidden" title="{{localize 'TIDY5E.SearchClear'}}"><i class="fas fa-times-circle"></i></span></li>
    <li class="filter-item" data-filter="action">{{localize "DND5E.Action"}}</li>
    <li class="filter-item" data-filter="bonus">{{localize "DND5E.BonusAction"}}</li>
    <li class="filter-item" data-filter="reaction">{{localize "DND5E.Reaction"}}</li>
  </ul>
</div>
{{/if}}
{{/unless}}

<div class="features list-layout">

  <ul class="inventory-list features-list items-list {{#if actor.flags.tidy5e-sheet.allow-edit}}unlocked{{/if}}">
    {{#each sections as |section sid|}}
    <li class="items-header features-header">
      <h3 class="item-name">{{localize section.label}}</h3>

      <div class="items-header-labels">
        {{#if section.hasActions}}
          <div class="items-header-uses">{{localize 'DND5E.Uses'}}</div>
          <div class="items-header-usage">{{localize 'DND5E.Usage'}}</div>
          {{#if @root.isCharacter}}
          <div class="items-header-feat-source">{{localize 'DND5E.Source'}}</div>
          <div class="items-header-requirements">{{localize 'DND5E.Requirements'}}</div>
          {{/if}}
        {{else if section.isClass}}
          <!-- <div class="items-header-subclass">{{localize 'TIDY5E.Subclass'}}</div> -->
          <div class="items-header-level">{{localize 'DND5E.Level'}}</div>
        {{else}}
        {{#if @root.isCharacter}}
        {{#unless section.columns}}
          <div class="items-header-feat-source">{{localize 'DND5E.Source'}}</div>
          <div class="items-header-requirements">{{localize 'DND5E.Requirements'}}</div>
        {{/unless}}
        {{/if}}
        {{/if}}
        {{#if section.columns}}
          {{#each section.columns}}
            <div class="items-header-{{css}}">{{label}}</div>
          {{/each}}
        {{/if}}
        <div class="items-header-controls"></div>
      </div>
    </li>

    <ul class="item-list">
    {{#each section.items as |item iid|}}
    {{#with (lookup @root.itemContext item.id) as |ctx|}}
      <li class="item {{#if ctx.isDepleted}}depleted{{/if}} {{#if (or item.flags.magicitems.enabled item.system.properties.mgc)}}magic-item{{/if}} {{item.attunement.cls}} {{#if item.system.equipped}}equipped{{/if}}" data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item.id}}{{/if}}" data-item-index="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
        <div class="item-name rollable">
          <div class="item-image" style="background-image: url('{{item.img}}')">
            <i class="fa fa-dice-d20"></i>
          </div>
          <h4>
            {{#if (eq item.type "subclass")}}&rdsh;{{/if}}
              {{item.name}}
            {{#if item.system.isOriginalClass}} <i class="original-class fas fa-sun" title="{{localize 'DND5E.ClassOriginal'}}"></i>{{/if}}
          </h4>
          {{#if item.system.properties.amm}}
          <span class="ammo" data-id="{{item._id}}"></span>
          {{/if}}
          {{#unless @root.isCharacter}}
          {{#if item.system.quantity}}
          <span class="item-quantity{{#if item.isStack}} isStack{{/if}}">
            (<input class="item-count" name="system.quantity" type="text" value="{{item.system.quantity}}" maxlength="3" >)
          </span>
          {{/if}}
          {{/unless}}
        </div>

        {{#if @root.notHideIconsNextToTheItemName }}
          {{#if item.flags.tidy5e-sheet.favorite}}
            <div class="item-state-icon" title="Favorite"><i class="fas fa-bookmark icon-fav"></i></div>
          {{/if}}
        {{/if}}

        {{#if section.hasActions}}
        <div class="item-detail item-charges {{#if @root.isNPC}}{{#unless item.hasUses}} no-border{{/unless}}{{/if}}">
          {{#if ctx.isOnCooldown}}
          <a class="item-recharge rollable" title="{{item.labels.recharge}}"><i class="fas fa-dice-six"></i> {{item.system.recharge.value}}{{#if (ne item.system.recharge.value 6)}}+{{/if}}</a>
          {{else if item.system.recharge.value}}
          <i class="fas fa-bolt" title="{{localize 'DND5E.Charged'}}"></i>

          {{else if ctx.hasUses}}
          <input name="system.uses.value" type="text" value="{{item.system.uses.value}}">/ <input  class="uses-max" name="system.uses.max" type="text" value="{{item.system.uses.max}}">
          {{else unless @root.isNPC}}
          <a class="addCharges" value="Add">Add</a>
          {{/if}}
        </div>

        <div class="item-detail item-action {{#if @root.isNPC}}{{#unless item.system.activation.type}} no-border{{/unless}}{{/if}}">
          {{#if item.system.activation.type }}
          {{item.labels.activation}}
          {{/if}}
        </div>
        
        {{#unless @root.isVehicle}}
        {{#if @root.isCharacter}}
        <div class="item-detail item-source">
          <span class="truncate" title="{{item.system.source}}">{{item.system.source}}</span>
        </div>
        <div class="item-detail item-requirements">
          <span class="truncate" title="{{item.system.requirements}}">{{item.system.requirements}}</span>
        </div>
        {{/if}}
        {{/unless}}

        {{else if (eq item.type "class")}}

        <div class="item-detail item-action">
          <select class="level-selector">
              {{#select 0}}
              {{#each ctx.availableLevels}}
                  <option value="{{this.delta}}" {{disabled this.disabled}}>
                      {{localize "DND5E.LevelNumber" level=this.level}}
                      {{#if this.delta}}({{numberFormat this.delta sign=true}}){{/if}}
                  </option>
              {{/each}}
              {{/select}}
          </select>
        </div>

        {{else if section.columns}}
          {{#each section.columns}}
            <div class="item-detail {{css}}">
              {{#with (getProperty item property)}}
                {{#if ../editable}}
                  <input type="text" value="{{this}}" placeholder="&mdash;" data-dtype="{{../editable}}">
                {{else}}
                  {{this}}
                {{/if}}
              {{/with}}
            </div>
          {{/each}}

        {{else}}
          {{#if @root.isCharacter}}
          <div class="item-detail item-source">
            <span class="truncate" title="{{item.system.source}}">{{item.system.source}}</span>
          </div>
          <div class="item-detail item-requirements">
            <span class="truncate" title="{{item.system.requirements}}">{{item.system.requirements}}</span>
          </div>
          {{/if}}
        {{/if}}

        <div class="info-card {{~#if (or item.flags.magicitems.enabled item.system.properties.mgc)}} magic-item {{/if}} {{item.attunement.cls}} {{~#if item.system.equipped}} equipped {{/if}}" data-item-id="{{item._id}}">
          <p class="info-card-name">{{item.name}}</p>
          {{#if item.hasUses }}
          <div class="info-card-amount">
            <span><i class="fas fa-bolt"></i><b>{{localize 'DND5E.Charges'}}:</b> {{item.system.uses.value}}/{{item.system.uses.max}}</span>
          </div>
          {{/if}}
          <div class="description-wrap">
            <div class="info-card-description">
              <!-- item description -->
            </div>
          </div>
          <article class="mod-roll-buttons"></article>
        </div>
        {{#if @root.owner}}
        <div class="item-controls flexrow" {{#if @root.classicControlsDisabled}} style="display:none" {{/if}}>
          {{#if ctx.attunement}}
            <a class="item-control item-attunement 
              {{#if (eq item.system.attunement 2) }}active{{/if}} {{item.attunement.cls}}" title="{{localize item.attunement.title}}">
              <i class="fas fa-sun"></i> 
              <span class="control-label">
                {{#if (eq item.system.attunement 2) }}
                  {{localize "TIDY5E.Deattune"}}
                {{else}}
                  {{localize "TIDY5E.Attune"}}
                {{/if}}
              </span>
            </a>
          {{/if}}
          {{#if section.crewable}}

          <a class="item-control item-toggle {{ctx.toggleClass}}" title="{{ctx.toggleTitle}}">
            {{#if (eq ctx.toggleClass 'active')}}
              <i class="fas fa-user-alt"></i> 
              <span class="control-label">{{localize "TIDY5E.Unequip"}}</span>
            {{else}}
              <i class="fas fa-user-alt inactive"></i> 
              <span class="control-label">{{localize "TIDY5E.Equip"}}</span>
            {{/if}}
          </a>
          {{/if}}
          <a class="item-control item-edit" data-action="itemEdit" title="{{localize 'DND5E.ItemEdit'}}">
            <i class="fas fa-edit fa-fw"></i>
          </a>
          <a class="item-control item-duplicate" data-action="itemDuplicate" title="{{localize 'DND5E.ContextMenuActionDuplicate'}}">
            <i class="fas fa-copy fa-fw"></i>
          </a>
          <a class="item-control item-delete" data-action="itemDelete" title="{{localize 'DND5E.ItemDelete'}}">
            <i class="fas fa-trash fa-fw"></i>
          </a>
        </div>
        {{/if}}
      </li>
    {{/with}}
    {{/each}}

    {{#if @root.owner}}
    <li class="items-footer">
      <a class="item-create" title="{{localize 'DND5E.FeatureAdd'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
        <i class="fas fa-plus-circle"></i> {{localize "DND5E.Add"}}
      </a>
    </li>
    {{/if}}

    </ul>
    {{/each}}
  </ul>
</div>