<form class="macro-sheet editable flexcol">
    <fieldset class="token-variants-macro">
        <legend>Scripts</legend>

        <div class="form-group stacked command">
            <label>Run On Apply</label>
            <textarea name="onApply">{{onApply}}</textarea>
        </div>

        <div class="form-group stacked command">
            <label>Run On Remove</label>
            <textarea name="onRemove">{{onRemove}}</textarea>
        </div>
    </fieldset>

    {{#if tmfxActive}}
    <br>
    <fieldset>
        <legend>Token Magic FX</legend>
        <div class="form-group">
            <label>Apply Preset</label>
            <div class="form-fields">
              <datalist id="tmfxPresets">
              {{#each tmfxPresets }}
              <option value="{{this}}"></option>
              {{/each}}
               </datalist>
              <input list="tmfxPresets" name="tmfxPreset" value="{{tmfxPreset}}">
            </div>
        </div>
    </fieldset>
    {{/if}}

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "token-variants.common.apply"}}</button>
    {{#if hasScript}}
        <button type="button" class="remove"><i class="fas fa-trash"></i> {{localize "token-variants.common.remove"}}</button>
    {{/if}}
    </footer>
</form>