<form>
  <section>

    <datalist id="groups">
      {{#each groups}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>

    <ol class="token-variant-table" style="overflow-x: hidden;">
      <li class="table-row table-header flexrow">
        <div class="effect-controls">
          <a class="create-mapping" title="Add new mapping"> <i class="fas fa-plus"></i></a>
        </div>
        <div class="effect-name"><label>Effect Name</label>&nbsp;&nbsp;<i class="fas fa-question-circle" title="Accepted Operators:&#013;• && ( logical AND)&#013;• || (logical OR)&#013;• \! (escaped logical NOT)&#013;• \( (escaped open bracket to group expressions)&#013;• \) (escaped closed bracket to group expressions)&#013;&#013;Accepted hp and Token property Comparators:&#013;• = (equal)&#013;• < (less than)&#013;• > (greater than)&#013;• <= (less than or equal)&#013;• >= (greater than or equal)&#013;&#013;Examples of valid expressions:&#013;• Flying&#013;• Dead && Burning&#013;• Flying && \! \( Prone || Dead \)&#013;• hp<=50%&#013;• name=&ldquo;Raging Barbarian&ldquo;&#013;• lockRotation=&ldquo;true&ldquo;&#013;• flags.token-variants.test=&ldquo;true&ldquo;&#013;&#013;Special Effect Names:&#013;• token-variants-combat : Actives when Token is in combat&#013;• combat-turn : Activates when it's Token's turn in combat&#013;• combat-turn-next : Actives when Token is next in the initiative order"></i></div>
        <div class="effect-priority"><label>Priority</label></div>
        <div class="effect-image"><label title="Token Image">Image</label></div>
        <div class="effect-config"><label>Config</label></div>
        <div class="effect-overlay"><label>Overlay</label></div>
        <div class="effect-alwaysOn"><label>Always On</label></div>
        <div class="effect-disable"><label>Disable</label></div>
        {{#if global}}
        <div class="effect-target"><i class="fas fa-users" title="Configure Applicable actors"></i></div>
        {{/if}}
        <div class="effect-group"><label>Group</label></div>
      </li>

    {{#each groupedMappings as |mappings group|}}
      <div class="group-title flexrow">
        <p>{{group}}</p>
        <div class="group-disable {{#if mappings.active}}active{{/if}}" data-group="{{group}}"><a><i class="fas fa-power-off"></i></a></div>
        <div class="group-toggle active {{#if ../global}}global{{/if}}" data-group="{{group}}"><a><i class="fas fa-chevron-double-up"></i></a></div>
      </div>
      {{#each mappings.list as |mapping|}}
      <li class="table-row flexrow" data-group="{{group}}" data-index="{{mapping.i}}">
        <div class="effect-controls">
          <a class="clone-mapping" title="Clone mapping"><i class="fas fa-clone"></i></a>
          <a class="delete-mapping" title="Delete mapping"><i class="fas fa-trash"></i></a>
        </div>
        <div class="effect-name">
          <div class="div-input" contenteditable="true">{{{mapping.highlightedEffectName}}}</div>
          <input
            type="text"
            name="mappings.{{mapping.i}}.effectName"
            value="{{mapping.effectName}}"
            hidden/>
        </div>
        <div class="effect-priority">
          <input
            type="number"
            name="mappings.{{mapping.i}}.priority"
            value="{{mapping.priority}}"
            placeholder="priority"
          />
        </div>
        <div class="effect-image">
          <video
            height="32" width="32"
            src="{{mapping.imgSrc}}"
            title="{{mapping.imgName}}"
            autoplay
            loop
            muted
            {{#unless isVideo}}hidden{{/unless}}
            >
          </video>
          <img height="32" width="32" src="{{mapping.imgSrc}}" title="{{mapping.imgName}}" {{#if isVideo}}hidden{{/if}}/>
          <input
            class="imgSrc"
            type="hidden"
            name="mappings.{{mapping.i}}.imgSrc"
            value="{{mapping.imgSrc}}"
          />
          <input
            class="imgName"
            type="hidden"
            name="mappings.{{mapping.i}}.imgName"
            value="{{mapping.imgName}}"
          />
        </div>
        <div class="effect-config">
          <a><i class="fas fa-cog fa-lg config {{#if mapping.hasTokenConfig}}active{{/if}}"></i></a>
          <a><i class="fas fa-edit config-edit {{#if mapping.hasConfig}}active{{/if}}"></i></a>
          <a><i class="fas fa-play config-script {{#if mapping.hasScript}}active{{/if}}"></i></a>
          <input class="config" type="hidden" name="mappings.{{mapping.i}}.config" value="{{mapping.config}}">
        </div>
        <div class="effect-overlay">
          <input type="checkbox" name="mappings.{{mapping.i}}.overlay" {{#if mapping.overlay}}checked{{/if}}/>
          <a {{#if mapping.parent}}class="child" title="Child Of: {{mapping.parent}}"{{/if}}><i class="fas fa-cog fa-lg overlay-config"></i></a>
        </div>
        <div class="effect-alwaysOn">
          <input type="checkbox" name="mappings.{{mapping.i}}.alwaysOn" {{#if mapping.alwaysOn}}checked{{/if}} title="Enabling will not trigger scripts."/>
        </div>
        <div class="effect-disable">
          <input type="checkbox" name="mappings.{{mapping.i}}.disabled" {{#if mapping.disabled}}checked{{/if}}/>
        </div>
        {{#if ../../global}}
        <div class="effect-target" title="Configure Applicable Actors">
          <a><i class="fas fa-users"></i></a>
        </div>
        {{/if}}
        <div class="effect-group">
            <input list="groups" name="mappings.{{mapping.i}}.group" value="{{mapping.group}}"/>
        </div>
      </li>
      {{/each}}
    {{/each}}
    </ol>
  </section>
  <footer class="sheet-footer flexrow">
    <button class="save-mappings" type="button">
      <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
    </button>
  </footer>
</form>
