<form>
  <div class="form-group">
    <button class="import" type="button">
      <i class="fas fa-file-import"></i>
      <label>{{localize "token-variants.common.import"}}</label>
    </button>
    <button class="export" type="button">
      <i class="fas fa-file-export"></i>
      <label>{{localize "token-variants.common.export"}}</label>
    </button>
  </div>
</form>
