<form>
    <section>

      <header class="table-header flexrow">
        <div class="index"><label></label></div>
        <div><label>Username</label></div>
        <div><label>Apply</label></div>
      </header>

    <ul>  
        {{#each users}}
        <li class="form-group">
          <div class="index">
            <img height="32" width="32" src="{{this.avatar}}" style="border-color: {{this.color}};"/>
          </div>
          <div class="form-fields">
            <label>{{this.name}}</label>
          </div>
          <div class="form-fields">
            <input type="checkbox" name="{{this.userId}}" {{#if this.apply}}checked{{/if}} />
          </div>
        </li>
        {{/each}}
      </ol>
    </section>
    <div class="form-group">
      <label>Invisible Image</label>
      <div class="form-fields">
        <Input type="text" name="invisibleImage" value="{{invisibleImage}}"/>
        <button type="button" class="file-picker" data-type="image" data-target="invisibleImage" title="Browse Files" tabindex="-1"><i class="fas fa-file-import fa-fw"></i></button>
       </div>
      <p class="notes">Placeables will be rendered invisible for non-gm users that have this image assigned to them.</p>
    </div>
    <footer class="sheet-footer flexrow">
      <button type="submit">
        <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
      </button>
    </footer>
  </form>
  