<form class="monks-tokenbar flexcol">
    <div class="dialog-content">
        {{#if hasLootable}}
        <div class="form-group">
            <label>{{localize 'MonksTokenBar.loot-entity.name'}}</label>
            <input type="text" name="loot-entity" value="lootEntity" />
        </div>
        <div class="form-group" style="{{#unless createEntity}}display: none;{{/unless}}">
            <label>{{localize 'MonksTokenBar.CreateEntityName'}}</label>
            <input type="text" id="entity-name" name="entity-name" placeholder="{{placeholder}}" value="{{entityName}}" />
        </div>
        <div class="form-group" style="{{#if createEntity}}display: none;{{/if}}">
            <label>{{localize 'MonksTokenBar.ClearCurrentItems'}}</label>
            <input type="checkbox" id="clear-items" name="clear-items" {{checked clearItems}} />
        </div>
        <div class="form-group">
            <label>{{localize 'MonksTokenBar.create-canvas-object.name'}}</label>
            <input type="checkbox" id="create-canvas-object" name="create-canvas-object" {{checked createCanvasObject}} />
        </div>
        <div class="form-group">
            <label>{{localize 'MonksTokenBar.open-loot.name'}}</label>
            <select id="open-loot" name="open-loot">
                {{selectOptions openLootOptions selected=openLoot localize=true}}
            </select>
        </div>
        {{else}}
        <div class="no-lootables">
            You currently do not have lootables enabled in the settings.
        </div>
        {{/if}}
        <hr />
        {{#if (and currency (not convertEntity))}}
        <div class="flexrow" style="margin: 4px 0px;">
            {{#each currency}}
            <div class="flexrow" style="flex-direction:row-reverse;">
                <input type="text" class="currency-value" name="{{@key}}" style="text-align: right; max-width: 70px;" value="{{this}}" />
                <span style="text-align: right; line-height: 24px; margin-right: 8px;">{{@key}}</span>
            </div>
            {{/each}}
            <button type="button" class="add-gold" title="Calculate gold based on CR" style="flex: 0 0 28px; text-align: center; line-height: 24px; margin-left: 5px; padding: 0px 2px 0px 4px;">
                <i class="fas fa-dollar-sign"></i>
            </button>
        </div>
        {{/if}}
        <ul class="entry-list" style="border-top: 1px dashed #C0C0C0;">
            {{#each entries}}
            {{#if this.items}}
            <li class="flexrow entry" style="border-bottom: 1px dashed #C0C0C0;padding: 4px 0px;" data-entry-id="{{this.id}}">
                <div style="flex: 0 0 80px; margin-right: 4px; overflow: hidden;position: relative;" title="{{this.name}}">
                    <div class="loot-entry-image" style="background-image: url('{{this.img}}')">
                        <video width="48" height="48"><source src="{{this.img}}" /></video>
                    </div>
                    <h4 class="loot-entry-name">
                        {{this.name}}
                    </h4>
                    {{#if (gt this.quantity 1)}}<div class="entry-quantity">&times;{{this.quantity}}</div>{{/if}}
                    <a class="delete-entry" title="Delete Entry"><i class="fas fa-trash"></i></a>
                </div>
                <ul style="padding: 0px; margin: 0px;">
                    {{#each this.items}}
                    <li class="flexrow item" data-item-id="{{this.id}}">
                        <img class="loot-item-image" src="{{this.img}}" />
                        <span class="loot-item-name">{{this.name}}{{#if (gt this.sysQty 1)}} <small>(In qty of {{this.sysQty}})</small>{{/if}}</span>
                        <input class="loot-item-quantity" type="text" name="tokens.{{../id}}.items.{{this._id}}.quantity" value="{{this.quantity}}" />
                        <div class="flexrow" style="flex: 0 0 40px;margin: 0px 4px;line-height: 25px;">
                            <a class="reset-loot" title="Reset Loot"><i class="fas fa-refresh"></i></a>
                            <a class="delete-loot" title="Delete Loot"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/if}}
            {{/each}}
            {{#if noitems}}
            <li class="no-item-entry">
                Creatures with no items: 
                <div>
                    <i>{{noitems}}</i>
                </div>
            </li>
    {{/if}}
    </ul>
</div>
    <div class="dialog-buttons">
        <button type="button" class="dialog-button convert-to-lootable" data-button="assign">{{actionText}}</button>
    </div>
</form>
