.tokenmagic.settings nav.tabs {
	flex: 0 0 32px;
	line-height: 32px;
	font-size: 16px;
	border-bottom: 1px solid #000;
}

.tokenmagic.settings section.content {
	border-top: 1px solid #b5b3a4;
}

.tokenmagic.settings section.content .settings-list {
	max-height: calc(100vh - 150px);
	overflow-y: auto;
	padding-right: 0.5em;
}

.tokenmagic.settings div.override-entry {
	padding: 0.5em 0;
	border-top: 1px solid #b5b3a4;
}

.tokenmagic.settings div.remove-override-wrapper {
	flex: 0;
	margin-left: 0.5em;
}

.tokenmagic.settings footer.add-override-wrapper {
	margin-bottom: 0.5em;
}